.hadron-tooltip {
  min-height: 24px;
  font-size: 11px;
  opacity: 1 !important;
  padding: 3px 6px !important;
}

.opaque-tooltip {
  opacity: 1 !important;
}

.tooltip-button-wrapper {
  display: inline-block;
}
