.zero-state {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 400px;

	&-header {
		font-size: 32px;
		font-weight: lighter;
		margin: 0;
		padding: 15px 0 11px 0;
	}

	&-subheader {
		font-size: 21px;
		font-weight: lighter;
		line-height: 26px;
		max-width: 600px;
		padding: 0 0 28px 0;
		margin: 0;
	}

	&-body {
		.btn:first-child {
			box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1), 
				inset 0 -2px 0 0 #4D7A2D;
		}
		.btn:nth-child(2) {
			margin-left: 10px;
		}
	}
}
