.zero-state {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 400px;

	&-header {
		font-size: 32px;
		font-weight: lighter;
	}

	&-subheader {
		font-size: 18px;
		max-width: 600px;
		margin-bottom: 20px;
	}

	&-body {
		.btn:first-child {
			box-shadow: 0 15px 25px 0 rgba(0,0,0,0.15), 
				inset 0 -2px 0 0 #4D7A2D;
		}
		.btn:nth-child(2) {
			margin-left: 10px;
		}
	}
}