.schema-field-wrapper(data-hook='bar')
  if isSubtype
    .schema-field-type(data-toggle='tooltip')
  span.schema-field-type-label
    = model && model.getId()
  if !isSubtype
    .schema-field-type(data-toggle='tooltip')
  .array-subtypes 
    div(data-hook='array-subtype-subview')
