doctype html
html(lang='en')
  head
    title Scout
    meta(name='viewport', content='initial-scale=1')
    link(rel='stylesheet', href='index.css')
  body
    #application
    script(src='index.js')
