doctype html
html(lang='en')
  head
    title Scout
    meta(name='viewport', content='initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:700,600,400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='index.css')
  body
    #application
    script(src='index.js')
