@import "font-awesome";
@import "octicons";
@import "bootstrap";
@import "./variables.less";

.jumbotron {
  // min-height: 600px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}


.footer {
  background: @jumbotron-bg;
  padding: @jumbotron-padding;
  margin-top: 200px;
}
