.create-collection-modal {
  :global(p) {
    display: block;
    margin: 0;
  }

  h1 {
    margin-bottom: 30px;
  }

  div[role=dialog] > :first-child {
    max-height: 80vh;
    overflow: scroll;
  }
}
