.drop-database-dialog {
  width: 500px;
}

.drop-confirm-namespace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  margin: 0.5ex;
}

.drop-confirm-database {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: bold;
  margin: 0.5ex;
}
