.databases {
  &-non-genuine-warning {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }

  &-error {
    padding: 16px;
  }

  &-try-atlas-link {
    font-size: 16px;
  }
}
