#networkOptIn.modal.fade(tabindex='-1' role='dialog', data-hook='main-modal')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Help us improve Compass
      .modal-body
        p We need your help to improve MongoDB Compass. Please choose from the options below:
        form
          ul
            li
              label
                input(type='checkbox', name='enableFeedbackPanel', data-hook='product-feedback-checkbox')
                span Enable Product Feedback Tool
              p.option-description Enables a tool for sending feedback or talking to our Product and Development teams directly from Compass.

            li
              label
                input(type='checkbox', name='trackErrors', data-hook='track-errors-checkbox')
                span Enable Crash Reports
              p.option-description Allow Compass to send crash reports containing stack traces and unhandled exceptions.

            li
              label 
                input(type='checkbox', name='trackUsageStatistics', data-hook='usage-stats-checkbox')
                span Enable Usage Statistics
              p.option-description Allow Compass to send anonymous usage statistics.
            li
              label 
                input(type='checkbox', name='automaticallyUpdate', data-hook='auto-update-checkbox')
                span Automatically Download Updates
              p.option-description Allow Compass to automatically check for updates and download them in the background. 
              

        p With any of these options, none of your personal information or stored data will be submitted.

      .modal-footer
        button.btn.btn-primary(type='button', data-dismiss='modal', data-hook='start-button')
