#networkOptIn.modal.fade(tabindex='-1' role='dialog', data-hook='main-modal', data-test-id='privacy-settings-modal')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title(data-test-id='modal-title') Privacy Settings
      .modal-body
        p To enhance the user experience, Compass can integrate with 3rd party services, which requires external network requests. Please choose from the settings below:
        form
          ul
            li
              label
                input(type='checkbox', name='enableFeedbackPanel', data-hook='product-feedback-checkbox', data-test-id='product-feedback-checkbox')
                span Enable Product Feedback Tool
              p.option-description Enables a tool for sending feedback or talking to our Product and Development teams directly from Compass.

            li
              label
                input(type='checkbox', name='enableMaps', data-hook='enable-maps-checkbox', data-test-id='enable-maps-checkbox')
                span Enable Geographic Visualizations
              p.option-description Allow Compass to make requests to a 3rd party mapping service.

            li
              label
                input(type='checkbox', name='trackErrors', data-hook='track-errors-checkbox' data-test-id='track-errors-checkbox')
                span Enable Crash Reports
              p.option-description Allow Compass to send crash reports containing stack traces and unhandled exceptions.

            li
              label
                input(type='checkbox', name='trackUsageStatistics', data-hook='usage-stats-checkbox', data-test-id='usage-stats-checkbox')
                span Enable Usage Statistics
              p.option-description Allow Compass to send anonymous usage statistics.

            li
              label
                input(type='checkbox', name='autoUpdates', data-hook='auto-updates-checkbox', data-test-id='auto-updates-checkbox')
                span Enable Automatic Updates
              p.option-description Allow Compass to periodically check for new updates.

        p
          | With any of these options, none of your personal information or stored data will be submitted.
          br
          | Learn more:
          a(href='https://www.mongodb.com/legal/privacy-policy') MongoDB Privacy Policy

      .modal-footer
        button.btn.btn-primary(type='button', data-dismiss='modal', data-hook='start-button', data-test-id='close-privacy-settings-button')
