div(data-hook='viz-container')
  dl
    if fieldNames
      dt Array of documents with #{fieldsPluralized}
      dd
  
    dt Array lengths
    dd 
      ul.list-inline
        li min: #{min_length}, 
        li average: #{average_length}, 
        li max: #{max_length}
