div(data-hook='viz-container') 
  dl
  dt Document with #{fieldsPluralized}
  dd
    ul.list-inline
      each name, idx in fieldNames
        li= name + (idx < fieldNames.length-1 ? ',' : '')

      
