div(data-hook='viz-container')
  dl.dl-horizontal
    //- dt min
    //- dd
    //-   = minValue

    dt
      a
        i.mms-icon-continuous(data-hook='refresh')
    dd
      ul.list-inline
        each val in randomValues
          li.bubble
            code= val

    //- dt max
    //- dd
    //-   = maxValue
