.schema-field.schema-field-basic
  .row
    .col-sm-4
      .schema-field-name
        span(data-hook='caret')
        span(data-hook='name')
      div(data-hook='types-subview')
    .col-sm-7.col-sm-offset-1
      div(data-hook='minichart-container')
  div(data-hook='fields-subview')
  div(data-hook='arrayfields-subview')