.schema-field-list {
  // .list-group;

  .schema-field {
    // .list-group-item;
    padding: 24px 0 0 0;
    border-bottom: 3px solid @gray8;
    background: @pw;
    transition: all 250ms ease-out;

    .row {
      margin-bottom: 24px;
    }

    .schema-field-type-list {
      padding-left: 24px;
    }

    .schema-field-name {
      padding-left: 24px;
    }

    .array-subtypes {
      .schema-field-type-list {
        padding-left: 0px !important;
      }
    }



    .schema-field {
      // second level
      border-bottom: 3px solid @gray8;
      border-left: 24px solid @gray8;
      animation-duration: 250ms;
      position: relative;
      animation-name: fadein;
      @keyframes fadein {
        from {
          left: -20px;
          opacity: 0;
        }

        to {
          left: 0px;
          opacity: 1;
        }
      }

      &:first-child {
        border-top: 3px solid @gray8;
        margin-top: 24px;
      }
      &:last-child {
        border-bottom: 3px solid @gray8;
      }

      .row {
        margin-left: -39px;
      }

      .schema-field-type-list {
        padding-left: 48px;
      }
      .schema-field-name {
        padding-left: 48px;
      }
      .schema-field {
        // third level
        .schema-field-type-list {
          padding-left: 72px;
        }
        .schema-field-name {
          padding-left: 72px;
        }
        .row {
          margin-left: -63px;
        }
        .schema-field {
          // fourth level
          .schema-field-type-list {
            padding-left: 96px;
          }
          .schema-field-name {
            padding-left: 96px;
          }
          .row {
            margin-left: -87px;
          }
          .schema-field {
            // fifth level
            .schema-field-type-list {
              padding-left: 120px;
            }
            .schema-field-name {
              padding-left: 120px;
            }
            .row {
              margin-left: -111px;
            }
            .schema-field {
              // sixth level
              .schema-field-type-list {
                padding-left: 144px;
              }
              .schema-field-name {
                padding-left: 144px;
              }
              .row {
                margin-left: -135px;
              }
            }
          }
        }
      }

    }

    .schema-field-name {
      font-size: 16px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
    }

    &.schema-field-object, &.schema-field-array {
      .schema-field-name {
        cursor: pointer;
      }
    }
    &.expanded {
      .caret {
        .caret-down;
        margin-right: 4px;
        margin-left: -12px;
        cursor: pointer;
      }
      > .schema-field-list {
        display: block;
      }
    }
    &.collapsed {
      .caret {
        .caret-right;
        margin-right: 8px;
        margin-left: -12px;
        cursor: pointer;
      }

      > .schema-field-list {
        display: none;
      }
    }
  }

}
.schema-field-type-list {
  border-radius: 1px;
  padding-top: 4px;

  .schema-field-wrapper {
    float: left;
    overflow: hidden;
    cursor: pointer;

    &.schema-field-type-undefined {
      cursor: default;
    }

    &.active > .schema-field-type {
      background: @gray1;
    }

    &.active.selected > .schema-field-type {
      background: @chart0;
    }

    .schema-field-type-list > .schema-field-wrapper:not(.active) > .schema-field-type {
      // nested array subtypes
      background: @gray5;
    }
  }

  .schema-field-type {
    height: 5px;
    margin-right: 2px;
    background: @gray5;
  }

  .schema-field-type-label {
    font-size: 11px;
    text-transform: lowercase;
  }

  .schema-field-type-undefined > .schema-field-type {
    background: white;
    border: 1px solid @gray5;
  }

  // .schema-field-type-null {
  //   background: @series-bg-1;
  // }
  // .schema-field-type-number {
  //   background: @series-bg-2;
  // }
  // .schema-field-type-long {
  //   background: @series-bg-3;
  // }
  // .schema-field-type-string {
  //   background: @series-bg-4;
  // }
  // .schema-field-type-boolean {
  //   background: @series-bg-5;
  // }
  // .schema-field-type-undefined {
  //   background: @series-bg-6;
  // }
  // .schema-field-type-date {
  //   background: @series-bg-7;
  // }
  // .schema-field-type-objectid {
  //   background: @series-bg-8;
  // }
  // .schema-field-type-array {
  //   background: @series-bg-1;
  // }
  // .schema-field-type-object {
  //   background: @series-bg-1;
  // }
}

.schema-value-list {
  .small;
  .list-unstyled;

  .schema-value-list-item {
    .badge;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
}
