.instance-header {
  background-color: @gray8;
  color: @pw;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 36px;
  flex-wrap: nowrap;
  overflow: hidden;

  &-icon {
    &-home { font-size: 16px; }
    &-lock { font-size: 12px; }
  }

  &-connection-string {
    background-color: @compass-sidebar-hover-background-color;
    box-shadow: inset 0 -1px 0 0 #393E43;
    cursor: pointer;
    flex-basis: auto;
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    transition: all @compass-sidebar-transition-time ease;

    &:hover,
    &-is-active {
      background-color: @compass-sidebar-active-background-color;
      box-shadow: none;
    }
  }

  &-icon-container {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
  }

  &-icon-home {
    width: 36px;
    height: 36px;
    margin-right: 0px;
    padding-top: 10px;
    transition: margin-right @compass-sidebar-transition-time ease, background-color @compass-sidebar-transition-time ease;
  }

  &-details {
    display: flex;
    flex-basis: auto;
    overflow: hidden;
    padding-top: 8px;
    max-height: 28px;
    font-weight: bold;
    transition: all @compass-sidebar-transition-time ease;
  }

  &-hostname-prefix {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-hostname-suffix {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-port {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &-port span {
    padding-right: 6px;
  }

  &-items {
    display: flex;
    flex-grow: 2;
    flex-shrink: 10;
    align-items: center;

    &-is-left {
      padding-left: 5px;
      justify-content: flex-start;
    }

    &-is-right {
      padding-right: 5px;
      flex-direction: row-reverse;
    }

    & > * {
      padding: 0 5px;
      color: @gray3;
    }
  }

  &-status-ssh {
    padding: 0 24px;
    display: flex;
    opacity: 1;
    pointer-events: all;
    transition: opacity @compass-sidebar-transition-time ease;
  }

  &-process-status-container {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-process-status {
    padding-right: 12px;

    span {
      background-color: @compass-sidebar-hover-background-color;
      border-radius: 11px;
      font-size: 10px;
      font-weight: bold;
      line-height: 1;
      padding: 4px 8px 5px;
      text-transform: uppercase;
    }
  }

  /*SIDEBAR COLLAPSED STATE*/
  &-sidebar-collapsed {
    .instance-header-connection-string {
      width: 36px;
      transition: all @compass-sidebar-transition-time ease;
    }

    .instance-header-icon-home {
      color: @pw;
      background-color: @compass-sidebar-active-background-color;
      box-shadow: none;

      &:hover,
      &-is-active {
        background-color: @compass-sidebar-active-background-color;
      }
    }

    .instance-header-details {
      width: 0;
      visibility: hidden;
      transition: width @compass-sidebar-transition-time ease;
    }
  }
}
