@import '../internal-packages/server-stats/styles/rt-db.css';
@import '../internal-packages/server-stats/styles/rt-lists.css';
@import '../internal-packages/server-stats/styles/rt-nav.css';
@import '../internal-packages/server-stats/styles/rt-graphs.css';
@import '../internal-packages/server-stats/styles/rt-errors.css';


.RTSS {
  font-family: "Akzidenz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: #3D4247;
  height: 100vh;
  min-width: 100%;
  overflow-x: scroll;

  ::-webkit-scrollbar {
    display: none;
  }

  .rt__graphs-out {
    float: left;
    width: 520px;
    padding-top: 31px;
  }
  .rt__lists-out {
    width: auto;
    overflow: scroll; // TODO: deal with scrolling
    display: block;
    padding-top: 15px;
  }
}
