.server-stats {
  background-color: #43484D;
  font-family: Akzidenz-Grotesk Std;
  font-weight: 500;
  text-transform: uppercase;
  color: #9ca4ab;
  height: 100vh;

  .opcounters {
    width: 50%;
    float: left;
  }
  .network {
    width: 50%;
    float: left;
  }
  .mem {
    width: 50%;
    float: left;
  }
  .globallock {
    width: 50%;
    float: left;
  }

  .error-message {
    text-anchor: middle;
    font-size: 14px;
    fill: white;
  }
  .chart-title {
    text-anchor: middle;
    font-size: 14px;
    fill: white;
  }
  .axis-x, .axis-y {
      fill: none;
  }
  .background-lines {
      stroke-width: 1px;
      stroke: #9ca4ab;
  }
  .axis-labels {
      font-size: 11px;
  }
  .y-label {
      text-anchor: end;
      fill: #9ca4ab;
  }
  .second-label {
    text-anchor: start;
  }
  .x-label {
      text-anchor: middle;
      fill: #9ca4ab;
  }
  .line-div, .second-line-div {
      opacity: 1;
      fill: none;
      stroke-width: 2px;
  }
  .legend-box {
      stroke-width: 2px;
      fill-opacity: 1;
  }
  .legend-linename {
      font-size: 11px;
      fill: #9ca4ab;
  }
  .legend-count {
      font-size: 15px;
      fill: white;
  }
  .focus {
      stroke: white;
      fill: white;
      font-size: 11px;
      text-anchor: middle;
  }
  .overlay-line {
      stroke-width: 1px;
  }
  .overlay-bubbles {
      stroke: none;
  }
  .chart-color-0 { /* teal */
    stroke: #45BAAB;
    fill: #45BAAB;
  }
  .chart-color-1 { /* blue */
    stroke: #23B1FF;
    fill: #23B1FF;
  }
  .chart-color-2 { /* purple */
    stroke: #6F72FF;
    fill: #6F72FF;
  }
  .chart-color-3 { /* red */
    stroke: #A33A35;
    fill: #A33A35;
  }
  .chart-color-4 { /* orange */
    stroke: #FFA900;
    fill: #FFA900;
  }
  .chart-color-5 { /* yellow */
    stroke: #C7E82F;
    fill: #C7E82F;
  }
}
