/* time indicator */
.time {
  border-radius: 3px 3px 3px 3px;
  position: absolute;
  background-color: #393D41;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  height: 25px;
  width: 100px;
  left: 1030px;
  top: 10px;
  padding-top: 5px;
  letter-spacing: 3.5px;
}

/* play-pause button */
.play {
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  position: absolute;
  background-color: #377C57;
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  height: 25px;
  width: 100px;
  left: 1150px;
  top: 10px;
  border: 1px #50AB78 solid;
  text-align: center;
  padding-top: 4px;
}
.play .fa-play {
  font-size: 10px;
  margin-right: 7px;
  color: hsla(0, 0%, 100%, .7);
}

.pause {
  padding-top: 6px;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  position: absolute;
  background-color: #3D4247;
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  height: 25px;
  width: 100px;
  left: 1150px;
  top: 10px;
  border: 1px #666666 solid;
  text-align: center;
  padding-top: 4px;
}
.pause .fa-pause {
  font-size: 10px;
  margin-right: 7px;
  color: hsla(0, 0%, 100%, .7);
}
