.rtss-databases {
  background-color: @gray8;
  overflow-y: scroll;
  padding: 0 20px 100px 20px;
  position: absolute;
  top: 78px;
  right: 0;
  bottom: 0;
  left: 250px;

  &-create-button {
    height: 32px;
    background: @gray8;
    border-bottom: 1px solid @gray7;
    padding-top: 4px;
    padding-left: 20px;
    position: fixed;
    top: 46px;
    left: 250px;
    right: 0;
    z-index: 1;
  }
}

.no-collections-zero-state {
  font-size: 18px;
  color: @gray4;
  font-weight: 200;
  position: absolute;
  left: ~"calc(50% - 250px)";
  right: 15%;
  top: 50%;
  z-index: 2;

  a {
    cursor: pointer;
  }
}
