npm-debug.log
build
dist
node_modules
.DS_Store
.idea
*.swp
*.iml
.cache*
report.json
.user-data
.compiled-sources
expansions.yml
.nvmrc
.vscode
!.vscode/extentions.json
.migration-cache
lerna-debug.log
packages/**/*.tgz
packages/**/package-lock.json
scripts/package-lock.json
configs/**/package-lock.json
tmp
storage
.nyc_output
coverage
.ackrc
env-vars.sh
mongocryptd.pid
mongodb-crypt
.snyk-reports