sudo: required
dist: trusty
language: node_js
node_js:
  - 7.4
env:
  matrix:
    - S=1 DEBUG=mongodb-compass:spectron* MONGODB_VERSION=2.6.x MONGODB_TOPOLOGY=standalone
    - S=1 DEBUG=mongodb-compass:spectron* MONGODB_VERSION=3.4.x MONGODB_TOPOLOGY=standalone
    - S=2 DEBUG=mongodb-compass:spectron* MONGODB_VERSION=2.6.x MONGODB_TOPOLOGY=standalone
    - S=2 DEBUG=mongodb-compass:spectron* MONGODB_VERSION=3.4.x MONGODB_TOPOLOGY=standalone
    - S=3 DEBUG=mongodb-compass:spectron* MONGODB_VERSION=3.4.x MONGODB_TOPOLOGY=standalone
  global:
    secure: kx+3p/x5hEju6fKYzb0SCk9VJLq6bOxrizCQ/skvRB9OwiQUFm68KHDRys6DonUgudfJK9QF+2IvTPo7V+6bzh15hNDd4TnMuz/L9Fcb7+BwTENwjRKlWltuWBtLbJ+XxOeCAg2uWT7D8bH5S2NADIboIVUstAqNM9LKw9V9BVc=
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libkrb5-dev
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm run check
script: npm run test
cache:
  directories:
    - $HOME/.electron
    - node_modules
