language: node_js
node_js:
- 5
env:
  matrix:
  - CXX=g++-4.8 CI=1 EVERGREEN=1
  global:
    secure: kx+3p/x5hEju6fKYzb0SCk9VJLq6bOxrizCQ/skvRB9OwiQUFm68KHDRys6DonUgudfJK9QF+2IvTPo7V+6bzh15hNDd4TnMuz/L9Fcb7+BwTENwjRKlWltuWBtLbJ+XxOeCAg2uWT7D8bH5S2NADIboIVUstAqNM9LKw9V9BVc=
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - libkrb5-dev
    - libgnome-keyring-dev
before_install:
  - npm install -g npm@3
  - npm config set loglevel error
  - npm config -g list -l
  - npm --version
# write a log message to the log every minute to allow for > 10min installs
install: travis_wait npm install
before_script:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3
script: npm run-script ci
notifications:
  flowdock: e3dc17bc8a2c1b3412abe3e5747f8291
cache:
  directories:
  - node_modules
