sudo: false
dist: trusty
language: node_js
node_js:
  - 8.9.3
env:
  matrix:
    - MONGODB_VERSION=3.4.x MONGODB_TOPOLOGY=standalone
  global:
    secure: kx+3p/x5hEju6fKYzb0SCk9VJLq6bOxrizCQ/skvRB9OwiQUFm68KHDRys6DonUgudfJK9QF+2IvTPo7V+6bzh15hNDd4TnMuz/L9Fcb7+BwTENwjRKlWltuWBtLbJ+XxOeCAg2uWT7D8bH5S2NADIboIVUstAqNM9LKw9V9BVc=
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libkrb5-dev
      - libsecret-1-dev
      - libstdc++6
before_install:
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> .npmrc
  - npm i -g npm
install:
  - npm ci
script:
  - npm run check
  - npm test
cache:
  directories:
    - '$HOME/.npm'
