.explain-container
  .column-container.with-refinebar
    .column.main
      .summary-container
        h4 Query Performance Summary
        .row
          .col-md-4
            i.help(data-hook='index-usage')
            span.index-message(data-hook='index-message-container')
              //- i(data-hook='index-message-icon')
              span(data-hook='index-message-text')                
            .index-definition
              div(data-hook='link-to-indexes-container')
                a(href="#", data-hook='indexes-link') View all indexes
              div(data-hook='index-definition-container')
                div(data-hook='index-definition-subview')
          .col-md-4
            .stat
              i.help
              span.stat-label Index Keys Examined: 
              span.stat-value(data-hook='total-keys-examined')
            .stat
              i.help
              span.stat-label Document Examined: 
              span.stat-value(data-hook='total-docs-examined')       
            .stat
              i.help
              span.stat-label Documents Returned: 
              span.stat-value(data-hook='n-returned')
          .col-md-4
            .stat
              i.help
              span.stat-label Query Execution Time (ms): 
              span.stat-value(data-hook='execution-time-millis')
            .stat
              i.help
              span.stat-label Sorted in Memory: 
              span.stat-value(data-hook='in-memory-sort')       

      .tree-container
        h4 Explain Plan Diagram
        //- .panel.panel-default
        //-   .panel-body
        div(data-hook='tree-subview')

      .detail-container
        h4 Raw Explain Output
        .panel.panel-default
          .panel-body
            ol.document-list(data-hook='raw-subview')
