.explain-container {

  .summary-container {
    background: @pw;
    padding: 12px;

    h3 {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 16px;
      margin: 6px 0 12px;
      color: @gray1;
    }

    .stat {
      font-size: 12px;
      padding: 6px 0;
      border-top: 1px solid @gray7;
    }

    .stat .stat-label {
      color: @gray4;
    }

    .stat .stat-value {
      color: @gray0;
      font-weight: bold;
      margin-left: 6px;
    }

    .stat.nReturned .stat-value {
      color: @pw;
      background: @chart1;
      font-weight: bold;
      padding: 2px 6px;
      font-size: 12px;
      line-height: 1;
      border-radius: 20px;
    }

    .index-definition {
      margin-top: 0;
    }

    .summary-stats {
      width: 250px;
      float: left;
      margin-right: 24px;
    }

  }

  i.link {
    .fa-icon;
    margin-right: 5px;
    cursor: pointer;
    color: @gray6;
    font-size: 12px;

    &:hover {
      color: @alertOrange;
    }
    &:before {
      content: @fa-var-info-circle;
    }
  }

  .view-switcher {
    padding: 6px 0;
    margin-bottom: 24px;
    border-top: 1px solid @gray7;
    border-bottom: 1px solid @gray7;

    span {
      margin-right: 7px;
      text-transform: uppercase;
      font-size: 11px;
      color: @gray3;
    }

    button:focus {
      outline-style: none;
    }
  }

  .stages-container {
    position: relative;
    overflow: hidden;

    .card {
      pointer-events: none;
      width: 276px;
      background: #fff;
      border: 1px solid #dddddd;
      margin: 0 auto;
      position: absolute;
      border-radius: 3px;
      padding: 18px 12px;
      box-shadow: 0px 2px 0px rgba(0,0,0,0.06);
      transition: all 250ms ease-out;

      &:hover {
        box-shadow: 0px 4px 2px rgba(0,0,0,0.12);
      }

      h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        margin: 0;
        color: @gray1;
      }

      ul {
        font-size: 12px;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul li span.key {
        color: @gray4;
      }

      ul li span.value {
        color: @gray1;
        font-weight: bold;
      }

      ul li span.key:after {
        content: ": ";
      }

      ul.core {
        margin-bottom: 12px;
      }

      ul.core li {
        display: inline-block;
        margin-top: 9px;
        line-height: 1;
      }

      ul.core li.nReturned .value {
        color: @pw;
        background: @chart1;
        font-weight: bold;
        padding: 2px 6px;
        font-size: 12px;
        line-height: 1;
        border-radius: 20px;
      }

      ul.core li.exec-time {
        float: right;
        margin-right: 18px;
      }

      ul.highlighted li {
        border-top: 1px solid @gray7;
        padding: 11px 0;
      }

      .clock {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 18px;
        right: -31px;
      }

      .face {
        background: #fff url(images/explain-card-clockface.png) -1px -1px no-repeat;
        background-size: 48px 48px;
        border: 1px solid @gray6;
        border-radius: 24px;
        font-size: 10px;
        height: 48px;
        width: 48px;
        position: absolute;
        top: 6px;
        left: 6px;
        text-align: center;
        transition: all 250ms ease-out;
      }

      .face:hover {

      }

      .face span {
        display: block;
        font-size: 14px;
        font-weight: normal;
        margin-top: 11px;
        color: @chart1;
      }

      ul li span.value .clock .face {
        font-weight: normal;
        color: #818487;
      }

      .details {
        transition: all 250ms ease-out;
      }

      .details h4 {
        pointer-events: all;
        font-size: 12px;
        font-weight: normal;
        border-top: 1px solid @gray7;
        color: @chart1;
        padding: 11px 0;
        margin: 0;
        cursor: pointer;
      }

      .details h4:before {
        content: "+ "
      }

      .details.open h4:before {
        content: "\2013  ";
      }

      .details-output {
        padding: 6px;
        background: @gray8;
        border-radius: 3px;
        display: none;
      }

      .details.open .details-output {
        display: block;
      }

      .details-output pre {
        background: none;
        word-break: break-word;
        border: none;
        margin: 0;
        font-size: 11px;
        // line-height: 1.2;
      }

      .details-output pre code {
        background: none;
        margin: 0;
      }
    } // .card

    .link {
      fill: none;
      stroke: #ddd;
      stroke-width: 6px;
    }
  }   // .tree-container
}     // .explain-container
