.explain-container {

  .summary-container, .detail-container {
    margin: 20px 0;
  }

  .stat .stat-label {
    color: @gray4;
  }

  .stat .stat-value {
    font-size: 15px;
  }

  .index-definition {
    margin-top: 10px;
  }

}
