div.instance-properties
  span.hostname(data-hook='hostname')
  span.version
    | version&nbsp;
    span(data-hook='version')
  div.db-stats
    span.num-databases
      strong(data-hook='num-databases')
      | &nbsp;DBs
    span.num-collections
      strong(data-hook='num-collections')
      | &nbsp;Collections
    button.refresh-collections(data-hook='refresh-button')
      i.fa(data-hook='refresh-icon')
