li.list-group-item
  if nested
    div
      i.icon.fa.fa-fw(data-hook='icon')
      span.value(data-hook-'displayValue')= displayValue
  else
    a
      i.icon.fa.fa-fw(data-hook='icon')
      span.value(data-hook='displayValue')= displayValue
  div(data-hook='nested-list-subview')
