.refine-view-container {
  position: relative;
  z-index: 1;

  .query-input-container {
    padding: 12px 10px 12px;
    background: @gray8;
    border-bottom: 1px solid @gray7;

    .is-feature-flag .form-control {
      border: 1px solid @chart1;
    }

    .syntax-help {
      position: absolute;
      top: 7px;
      left: 5px;
      z-index: 2;
    }

    input[type='text'].form-control {
      font-family: @font-family-monospace;
      background: @pw;
      height: 28px;
      border-radius: 14px;
      padding-left: 24px;
      & + .input-group-btn {
        padding-left: 10px;

        .btn {
          border-radius: 3px;
          &:last-child {
            margin-left: 3px;
          }
        }
      }
    }
  }
}

.sampling-message {
  border-bottom: 1px solid @gray7;
  font-size: 13px;
  font-weight: 200;
  padding: 5px 25px 5px 25px;
  background: @gray8;

  .message-container {
    background: @gray7;
  }
}
