.querybar-option {
  display: flex;
  align-items: center;
  height: 28px;
  margin: 0 10px;
  border-top: 1px solid @gray7;

  &-has-error {
    .querybar-option-label {
      background: @alertRed;
    }
  }

  &-has-toggle {
    padding-right: 80px;
  }

  &-is-document-type {
    flex-grow: 10;
  }

  &-is-numeric-type {
    flex-basis: 120px;
  }

  &-is-boolean-type {
    flex-basis: 80px;

    .querybar-option-input {
      position: relative;
      top: -2px;
    }
  }

  &-info-sprinkle {
    color: @pw;
  }

  &-label {
    background: @gray5;
    color: @pw;
    white-space: nowrap;
    border-radius: 14px;
    padding: 0 5px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Akzidenz", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    flex-grow: 0;
  }

  &-label-info {
    padding-right: 3px;
  }

  &-input {
    flex-grow: 10;
    width: 100%;
    border: none;
    font-family: @font-family-monospace;
    font-size: 12px;
    outline: none;
  }
}
