.schema-field.schema-field-basic
  hr.field-divider
  .row
    .col-sm-4
      .schema-field-name(data-hook='name')
      div(data-hook='types-container')
    .col-sm-7.col-sm-offset-1
      div(data-hook='minicharts-container')
