li.list-group-item.schema-field
  h4
    span.caret
    span.schema-field-name(data-hook='name')
    span.schema-field-name &nbsp;{
  div(data-hook='fields-container')
  h4: span.schema-field-name &nbsp;}
