#statusbar.progress
  //- .progress(data-hook='outer-bar')
    //- .progress-bar.progress-bar-striped.active(data-hook='inner-bar')
  ul.message-background.with-sidebar.centered(data-hook='message-container'): li
    p(data-hook='message')
    .spinner-circles(data-hook='loading')
      .circle-1
      .circle-2
