.syntax-highlight {
  pre, code {
    background: transparent;
    border: 0px transparent;
    padding: 0px;
    margin: 0px;
    font-size: inherit;
    border-radius: 0px;
    color: inherit;
  }
}