.sampling-message
  span(data-hook='is_sample') Query returned ### documents. This report is based on a sample of&nbsp;
  span(data-hook='is_query') Query returned&nbsp;
  span(data-hook='sample_size_message')
  |.
