.refine-view-container
  form
    .input-group
      input#refineInput.form-control(type='text', data-hook='refine-input')
      span.input-group-btn
        button.btn.btn-default(type='button', data-hook='refine-button') Refine
