.refine-view-container: .row: .col-md-12
  form: .input-group(data-hook='refine-input-group')
    input.form-control.input-sm(type='text', data-hook='refine-input')
    span.input-group-btn
      button.btn.btn-default.btn-sm(type='button', data-hook='refine-button') Refine
    span.input-group-btn
      button.btn.btn-default.btn-sm(type='button', data-hook='reset-button') Reset
