.chart-builder {

  &-container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &-chart-panel, &-field-panel {
    width: 200px;
    height: 100%;
  }

  &-chart-area {
    height: 100%;
    flex-grow: 10;
    padding: 20px;
  }

  &-chart-panel, &-field-panel, &-chart-area {
    overflow-y: auto;
  }

  &-chart-panel {
    background-color: @gray7;
    padding: 20px 0;
  }

  &-field-panel {
    padding: 10px 0 0 10px;
  }

  &-field-group {
    padding: 5px 0;
  }

  &-field-group-label {
    color: @gray1;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 10px;
  }

  &-field-group-fields {
    border-left: 1px solid @gray4;
    margin-left: 10px;
    padding-left: 10px;
  }
}
