.chart-builder {

  &-container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &-chart-panel, &-field-panel {
    width: 200px;
    height: 100%;
  }

  &-chart-area {
    height: 100%;
    width: 300px;
  }

  &-chart-panel, &-field-panel, &-chart-area {
    // temporary styling
    border: 1px solid @pw;
    padding: 5px;
    background: @gray6;
    overflow-y: scroll;
  }
  &-field-group {
    padding-left: 10px;
    border-left: 1px solid @gray2;
  }
}
