.chart-draggable-field {
  cursor: -webkit-grab;
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);
  border: 1px solid @gray5;
  border-radius: 6px;
  color: @gray1;
  padding: 3px;

  &-row {
    display: flex;
  }

  &-item-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }

  &-item-container-title {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: hidden;
    white-space: nowrap;
  }

  &-item-container-remove {
    flex-basis: 16px;
  }

  &-item-container-measurement,
  &-item-container-aggregation {
    flex-basis: 50%;
    min-width: 0;
  }

  &-action {
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);
    box-shadow: inset 0 -1px 0 0 lighten(@gray5, 8%);
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);
    border: 1px solid lighten(@gray5, 8%);
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 2px 2px;
  }

  &-action:hover,
  &-action:focus {
    background: linear-gradient(180deg, #FFFFFF 0%, #EDEDED 100%);
    border-color: @gray5;
    box-shadow: inset 0 -1px 0 0 @gray5, 0 1px 1px 0 rgba(0,0,0,0.12);
  }

  &-action:active,
  &-item-container-measurement.open .chart-draggable-field-action,
  &-item-container-aggregation.open .chart-draggable-field-action {
    background: linear-gradient(180deg, #EDEDED 0%, #FFFFFF 99.31%);
    border-color: @gray5;
    box-shadow: inset 0 2px 2px 0 @gray5;
  }

  &-action-measurement,
  &-action-aggregation {
    display: flex;
    align-items: baseline;
  }

  &-action-measurement {
    margin-right: 2px;
  }

  &-action-aggregation {
    margin-left: 2px;
  }

  &-action-icon {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 12px;
    font-size: 12px;
    text-align: center;
    align-self: flex-end;
  }

  &-action-icon-measurement {
    flex-basis: 16px;
    font-size: 13px;
    color: @linkText;
    align-self: flex-start;
  }

  &-action-title {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: hidden;
    min-width: 0;
  }

  &-action-title span {
    padding-left: 2px;
  }

  //remove button as menu item
  &-action-remove {
    color: @alertRedText;
    padding: 0;
    text-align: center;
    background: @pw;
    box-shadow: none;
    border: 1px solid @gray5;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    line-height: 16px;
    margin-bottom: 3px;
    opacity: 0;
  }

  &-action-remove:hover,
  &-action-remove:focus,
  &-action-remove:active {
    border-color: @alertRedText;
    box-shadow: none;
    background: @pw;
  }

  &-title,
  &-action-title {
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  //field main title
  &-title {
    border-left: 4px double @gray5;
    line-height: 1;
    margin: 2px 0;
    padding: 1px 3px 0 4px;
  }

  &:hover {
    .chart-draggable-field-action-remove {
      opacity: 1;
    }
  }

  &-array-picker {
    &-column {
      flex-direction: column;
    }
  }
}
