.chart-encoding-channel {

  &-label {
    margin: 2px;
    padding-top: 8px;
    font-size: 10px;
    font-weight: bold;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  &-droppable {
    background: white;
    border: 1px solid @gray5;
    border-radius: 3px;
    color: @gray5;
    padding: 4px;
    text-overflow: ellipsis;

    &-over {
      border-color: @green2;
      background: white;
      box-shadow: 0 0 6px 0 rgba(107,164,66, .6);
    }

    &-can-drop {
      border-color: @chart1;
      background: white;
      box-shadow: 0 0 6px 0 rgba(67,177,229, .6);
    }
  }

}
