.chart-encoding-channel {
  -webkit-transition: all 2000ms ease;
  transition: all 2000ms ease;

  &-label {
    margin: 2px;
    padding-top: 8px;
    font-size: 10px;
    font-weight: bold;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  &-droppable {
    background: @gray7;
    border: 1px solid @gray7;
    border-radius: 6px;
    color: @gray4;
    padding: 4px;
    text-overflow: ellipsis;

    &-can-drop {
      background: @gray6;
      border-color: @gray5;
      box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
      color: @gray1;
    }

    &-over {
      border-color: @chart1;
      box-shadow: 0 0 6px 0 rgba(67,177,229, .2);
      color: darken(@chart1, 20%);
    }

    &-copy {
      border-color: @chart8;
      box-shadow: 0 0 6px 0 rgba(67,177,229, .2);
      color: darken(@chart5, 60%);
    }

    &-has-field {
      background: transparent;
      border: none;
      padding: 0;
    }
  }

  //draggable field styles specific to the encoding channel
  .chart-draggable-field {
    &-title {
      padding-bottom: 2px;
    }
  }

}
