.chart-encoding-channel {
  &-label {
    margin: 2px;
    padding-top: 8px;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }
  &-droppable {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #ccc;
    padding: 2px 4px;
    text-overflow: ellipsis;
  }
}
