.chart-builder-field-panel {
  padding: 20px 6px;

  .chart-draggable-field {
    margin-right: 4px;
    margin-bottom: 3px;
    margin-left: 4px;
  }

  .chart-draggable-field:hover {
    // border-color: @chart1;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12)
  }

  .chart-draggable-field:active {
    background: @pw;
    border-color: @chart1;
  }

  &-controls-row {
    align-content: flex-start;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0 4px;
  }

  &-controls-item {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-controls-action {
    align-self: flex-end;
    color: @linkText;
    margin-left: 6px;
  }

  &-field-count {
    flex: 1;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  &-group-label {
    font-size: 11px;
    font-weight: bold;
    margin-left: 6px;
    margin-bottom: 2px;
    overflow: hidden;
    padding-right: 4px;
    text-overflow: ellipsis;
  }

  &-group {
    border-left: 1px solid @gray5;
    border-top: 1px solid @gray5;
    border-radius: 6px;
    margin: 3px 0 6px 2px;
    padding: 6px 0;
  }

  &-field-group-label {
    color: @gray1;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 10px;
  }

  &-field-group-fields {
    border-left: 1px solid @gray4;
    margin-left: 10px;
    padding-left: 10px;
  }

  &-filter {
    background-color: @gray6;
    width: 100%;
    &-icon {
      color: @chart1;
    }
  }

  &-search-input {
    background-color: @gray7;
    color: @gray4;
    width: 100%;
    border: none;
    outline: none;
  }
}
