@import './chart-builder.less';
@import './encoding-channel.less';
@import './field-panel.less';
@import './draggable-field.less';
@import './type-picker.less';

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
