.form-item 
  label(data-hook='label')= label
  .message.message-below.message-error(data-hook='message-container')
    p(data-hook='message-text')
  .form-item-file
    .btn.btn-default(data-hook='load-file-button', style='text-transform: none;') 
      i.fa.fa-file
      | &nbsp;
      span(data-hook='button-label')= buttonTitle
