.form-item 
  label
    span(data-hook='label')= label
    if helpEntry
      |&nbsp;
      i.help.fa.fa-info-circle(data-hook='#{helpEntry}')
  .message.message-below.message-error(data-hook='message-container')
    p(data-hook='message-text')
  .form-item-file
    .btn.btn-default(data-hook='load-file-button', style='text-transform: none;') 
      i.fa.fa-file
      | &nbsp;
      span(data-hook='button-label')= buttonTitle
