.page.connect
  .content.with-sidebar
    .container-fluid
      form.form-horizontal
        .message.alert(style='margin-top: 10px;', data-hook='message')
        .form-group
          label.col-sm-2.control-label Hostname
          .col-sm-10
            input.form-control(type='text', name='hostname', placeholder='localhost', data-hook='hostname')
        .form-group
          label.col-sm-2.control-label Port
          .col-sm-10
            input.form-control(type='number', name='port', placeholder='27017', data-hook='port', min=0)
        hr
        .form-group
          label.col-sm-2.control-label Save As... (optional)
          i.fa.fa-info-circle(tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-content="You can choose a friendly connection name for this connection, for example \"Development Server\". If you enter a name here, the connection will be saved and appears on the left side.")
          .col-sm-10
            input.form-control(type='text', name='name', placeholder='Connection Name', data-hook='name')
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-primary(type='submit') Connect
            
  div(data-hook='sidebar-subview')
