.page.connect
  .content.with-sidebar
    .container-fluid
      form.form-horizontal(data-hook='connect-form', style='margin-top: 20px;')
        .message.alert(data-hook='message')
        div(data-hook='hostname-subview')
        div(data-hook='port-subview')
        
        hr
        
        div(data-hook='saveas-subview')
        
        #connect-authentication-settings
          hr
          .form-group
            label.control-label
              a(href="javascript:void(0);", data-hook='openAuth')
                i
                span(data-hook='open-auth-label')
          
          .form-group
            div(data-hook='auth-container')
              ul.nav.nav-tabs
                - for method, i in authMethods
                  - classNames = []
                  - if (!method.enabled) classNames.push('hidden')
                  - if (i === 0) classNames.push('active')
                  li(class=classNames)
                    a(href="##{method._id}", data-toggle='tab', data-method=method._id)= method.title

              .tab-content
                - for method, i in authMethods
                  - classNames = []
                  - if (!method.enabled) classNames.push('hidden')
                  - if (i === 0) classNames.push('active')
                  .tab-pane(class=classNames)
                  
        #connect-ssl-settings(class=getFeatureClass('Connect with SSL'))
          hr
          .form-group
            label.control-label
              a(href="javascript:void(0);", data-hook='openSSL')
                i
                | &nbsp;
                span(data-hook='open-ssl-label')
          
            div(data-hook='ssl-container')
              h4 SSL Settings
        hr        
        .form-group
          button.submit.btn.btn-primary(type='submit', data-hook='submit-button') Connect

  div(data-hook='sidebar-subview')
