.form-item
  label(data-hook='label')= label
  .message.message-below.message-error(data-hook='message-container')
    p(data-hook='message-text')
  input.form-control
  i.fa.fa-info-circle(
    tabindex="0", role="button", 
    data-toggle="popover", data-trigger="focus", 
    data-content="You can choose a friendly connection name for this connection to make it easier to keep track of what you\'ve connected to recently and stay organized.")
