.form-item
  label
    span(data-hook='label')= label
    if helpEntry
      i.help(data-hook='#{helpEntry}')
  .message.message-above.message-error(data-hook='message-container')
    p(data-hook='message-text')
  input.form-control(placeholder='#{placeholder}')
