.form-item
  label
    span(data-hook='label')= label
    if helpEntry
      | &nbsp;
      i.help.fa.fa-info-circle(data-hook='#{helpEntry}')
  .message.message-below.message-error(data-hook='message-container')
    p(data-hook='message-text')
  select.form-control(type='select')
