.sidebar
  .compass-logo
  .connections-container
    a(data-hook='new-connection')
      .panel-title-out.new-connection(data-hook='panel-title-out')
        i.mms-icon-activity
        .panel-title New Connection

    .panel-title-out 
      i.fa.fa-folder-o
      .panel-title Favorites
    
    ul.connection-list.favorites(data-hook='connection-list-favorites')

    .panel-title-out 
      i.fa.fa-clock-o
      .panel-title History

    ul.connection-list.history(data-hook='connection-list-recent')
