div
  .sidebar.panel
    .panel-heading(style='padding: 10px;')
      .panel-title Recent Connections
    ul.list-group(data-hook='connection-list', style='top: 32px;position: initial;')
    ul.list-group(data-hook='connection-list-controls', style='top: initial;')
      li.list-group-item
        a(href="#new-connection", data-hook="new-connection")
          i.fa.fa-fw.fa-plus
          | New Connection
  .sidebar-bg
