.page.connect
  div(data-hook='sidebar-subview')
  .form-container
    header
      h2 Connect to Host

    .message.error(data-hook="message", hidden)
      p Please enter a valid user name and password

    form(data-hook="connect-form")
      #host-port.form-group
        div(data-hook='hostname-subview')
        div(data-hook='port-subview')

      hr

      div(data-hook='authselect-subview')

      - for method, i in authMethods
        - classNames = []
        - if (!method.enabled) classNames.push('hidden')
        - if (i === 0) classNames.push('active')
        div(class=classNames, id='auth-#{method._id}')
              
      div(data-hook='sslselect-subview')
      
      - for method, i in sslMethods
        - classNames = []
        - if (!method.enabled) classNames.push('hidden')
        - if (i === 0) classNames.push('active')
        div(class=classNames, id='ssl-#{method._id}')

      hr

      .form-item 
        label Name
        input.form-control(type="text", name="name")

      .form-item 
        button.btn.btn-primary(type='submit', data-hook='submit-button', name="connect") Connect
        button.btn.btn-default(name="createFavorite") Create Favorite
        //- button.btn.btn-default(hidden) Remove Favorite
        button.btn.btn-default(name="saveChanges", disabled) Save Changes
