#application
  .page.connect
    .sidebar
      .compass-logo
      .connections-container
        .panel-title-out.selected
          i.bolt &#xf0e7;
          .panel-title Quick Connect

        .panel-title-out 
          i &#xf114;
          .panel-title Favorites

        ul.connection-list.favorites
          li 
            a standalone.26.compass
          li 
            a replset.4.compass-prod
          li 
            a cluster.9.compass-test
          li 
            a.selected cluster.10.compass-test
          li 
            a replset.4.compass-prod
          li 
            a standalone.26.compass
          li 
            a cluster.9.compass-test
          li 
            a cluster.10.compass-test

        .panel-title-out 
          i &#xf114;
          .panel-title History

        ul.connection-list.history
          li 
            a cluster.9.compass-test
          li 
            a cluster.10.compass-test
          li 
            a replset.4.compass-prod
          li 
            a standalone.26.compass
          li 
            a replset.4.compass-prod
          li 
            a cluster.9.compass-test
          li 
            a standalone.26.compass
          li 
            a cluster.10.compass-test

    .form-container
      header
        h2 Connect to Host

      .message.error(data-hook="message", hidden)
        p Please enter a valid user name and password

      form(data-hook="connect-form")
        #host-port.form-group
          .form-item 
            label Host
            input.form-control(type="text", name="host", placeholder="localhost")

          .form-item 
            label Port
            input.form-control(type="text", name="port", placeholder="27017")

        hr

        .form-item 
          label Authentication  
          select.form-control(type="select", name="authentication")
            option(value="None") None
            option(value="usernamePassword", selected) Username/Password 
            option(value="Kerberos") Kerberos
            option(value="LDAP") LDAP
            option(value="x509") x509

        #auth-user-password.form-group
          .form-item
            label Username
            input.form-control(type="text", name="username")

          .form-item
            label Password
            input.form-control(type="password", name="password")

          .form-item 
            label Authentication Database
            input.form-control(type="text", name="authenticationDatabase", placeholder="admin")

        #auth-kerberos.form-group          
          .form-item 
            label Server
            input.form-control(type="text", name="server")

          .form-item 
            label Principal
            input.form-control(type="text", name="principal")

        .form-item 
          label SSL
          input(type="checkbox", name="ssl")

        #ssl.form-group
          .form-item 
            label Upload CA File
            .form-item-file
              input(type="file", name="uploadCAFile")

          .form-item 
            label Upload Key File
            .form-item-file
              input(type="file", name="uploadKeyFile")

          .form-item 
            label SSL Password
            input.form-control(type="text", name="sslPassword")

        hr

        .form-item 
          label Name
          input.form-control(type="text", name="name")

        .form-item 
          button.btn.btn-primary(type='submit', data-hook='submit-button', name="connect") Connect
          button.btn.btn-default(name="createFavorite") Create Favorite
          //- button.btn.btn-default(hidden) Remove Favorite
          button.btn.btn-default(name="saveChanges", disabled) Save Changes





































