sudo: required
dist: trusty
language: node_js
node_js:
  - 8.2.1
env:
  matrix:
    - MONGODB_VERSION=3.4.x MONGODB_TOPOLOGY=standalone
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libkrb5-dev
script: npm run ci
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
cache:
  directories:
    - $HOME/.electron
    - node_modules
