p.definition
  each field in model.fields.serialize()
    span.pair
      span.field= field.field
      if (field.value === 1)
        span.sort
          i.fa.fa-arrow-circle-up.fa-lg
      else if (field.value === -1)
        span.sort
          i.fa.fa-arrow-circle-down.fa-lg
      else
        span.type= field.value
