.index-container
  table
    thead
      tr
        th.name Name and Definition
          i.sort.fa.fa-fw(data-hook='sort-name')
        th Size
          i.sort.fa.fa-fw(data-hook='sort-size')
        th Utilization
          i.sort.fa.fa-fw(data-hook='sort-utilization')
        th Type
          i.sort.fa.fa-fw(data-hook='sort-type')
        //- th Cardinality
        th Properties
          i.sort.fa.fa-fw(data-hook='sort-properties')
    tbody.table(data-hook='indexes')
