.index-container
  table
    thead
      tr
        th Name and Definition
        th Size
        th Utilization
        th Type
        //- th Cardinality
        th Properties
    tbody.table(data-hook='indexes')
