tr
  td
    div.name= model.name
    div.definition
      each field in model.fields.serialize()
        div.pair
          div.field= field.field
          if (field.value === 1)
            div.sort
              i.fa.fa-arrow-circle-up.fa-lg
          else if (field.value === -1)
            div.sort
              i.fa.fa-arrow-circle-down.fa-lg
          else
            div.type= field.value
  td
    div.quantity(data-hook='index-size')
    div.unit(data-hook='index-size-unit')
  td
    div.quantity(data-hook='usage-count')
    div.usage-since since&nbsp;
      span(data-hook='usage-since')
  td
    div.properties
      each prop in model.properties
        - var cls = ''
        - if (['single', 'compound'].indexOf(prop) > -1) cls = 'simple'
        div(class='property #{cls}')
          = prop
          i.link
