.connect .sidebar {

  *::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.12);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    &:hover {
      background-color: rgba(0,0,0,.24);
    }
  }
  *::-webkit-scrollbar-thumb {
    background-color: @compass-sidebar-lite-background-color;
    border: 1px solid rgba(0,0,0,.24);
  }

  .widget-container {

    .list-group {
      margin-bottom: 0px;
      line-height: 24px;
    }

    .list-group-item-heading {
      border-bottom: 1px solid darken(@slate1, 3%);
      margin-bottom: 0;
      cursor: pointer;
      > a {
        padding: 9px 0;
        &:hover {
          background-color: #42494f;
        }
      }
      a, i {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: @pw;
        transition: all 180ms ease-out;
      }
      &.active {
        a, i {
          color: @pw;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  ul.list-group {
    margin-bottom: 0;
    line-height: 100%;

    &.nested {
      margin-top: 9px;
    }

    li.list-group-item-heading {
      border-bottom: 1px solid darken(@slate1, 3%);
      margin-bottom: 0;
      > div {
        padding-top: 9px;
      }
    }

    li.list-group-item-heading:first-child {
      border-top: 0;
    }

    li.list-group-item-heading > div > span {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .list-group-item {
      a {
        padding: 5px 0px 6px 28px;
        i {
          padding-right: 5px;
        }
      }

      .date {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: @gray4;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @pw;
        height: 16px;
        line-height: 1;
      }

      &.active {
        .value {
          color: @pw;
        }
        .date {
          color: @gray0;
        }
      }
    }
  }
}

// form
.connect .form-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: @sidebar-width;
  overflow-y: auto;

  header {
    height: 72px;
    background-color: @gray8;
    border-bottom: 2px solid @gray7;
    margin-bottom: 30px;

    h2 {
      display: inline-block;
      margin: 23px 0 0 30px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  .error {
    background-color: @lightRed;
    border-bottom: 3px solid @red;
    position: absolute;
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;

    p {
      margin: 26px auto;
      width: 70%;
      color: @red;
      text-align: center;
      font-weight: bold;
    }
  }

  .form-item {
    margin: 15px auto 15px;
    width: 500px;
    overflow: auto;

    > * {
      float: left;
      overflow: auto;
    }
    label {
      width: 35%;
      text-align: right;
      padding: 5px 15px 0 0;
    }
    input, select, .form-item-file {
      width: 65%;
    }
    .form-item-file {
      input {
        height: 34px;
        margin: 5px 0 0;
      }
    }
    span.buttons {
      float: right
    }

    button {
      float: right;
      margin-left: 10px;
    }
  }
}

.connect form {
  .message.message-error > p {
    margin: 0;
    font-size: 11px;
    color: red;
  }

  .form-group {
    margin: 0 10px;
  }

  button.submit {
    margin-bottom: 20px;
  }
}
