.collection-view
  .header
    h3(data-hook='name')
    div(data-hook='stats-subview')
  .column-container
    .column.main
      div(data-hook='fields-subview')
    .column.side
      .splitter
        i.fa.fa-lg.fa-rotate-90.fa-sort
      div(data-hook='documents-subview')


