.panel-group
  .panel.panel-toolbar.from-top
    .panel-heading
      .small.pull-right
        ul.list-inline.list-unstyled
          li 
            span(data-hook='document_count') -
            | documents
                
      .panel-title.h5(style='font-weight: 400;')
        span(data-hook='name')
    div(data-hook='fields-container')
