.panel-group
  .panel.panel-default
    .panel-heading
      .small.pull-right
        //- @todo: collection/sample stats
        //-
        //- ul.list-inline.list-unstyled
        //-   li
        //-     span(data-hook='document_count') -
        //-     | documents
        //-
      .panel-title.h5(style='font-weight: 400;')
        i.fa.fa-fw.fa-bars
        span(style='margin-left: 6px;', data-hook='name')
        //- .btn-toolbar
        //-   .btn-group-xs
        //-     a.btn.btn-default
        //-       i.fa.fa-fw.fa-share-alt
        //-       | Share
    div(data-hook='fields-container')
