.panel-group
  .panel
    .panel-heading
      .panel-title.h5(style='font-weight: 400;')
        i.fa.fa-fw.fa-bars(style='margin-right: 6px;')
        span(data-hook='name')
    div(data-hook='fields-container')
