.panel-group
  .panel.panel-toolbar.from-top
    .panel-heading
      .panel-title.h5(style='font-weight: 400;')
        span(data-hook='name')
    //-     .small
    //-       ul.list-inline.list-unstyled
    //-         li 12029 docs
    //-         
    //- .list-group(data-hook=fields)
    //-   .list-group-item
    //-     .list-group-item-heading _id
    //-     p.list-group-item-text 
    //-       .progress(style='height: 8px;border-radius: 1px;')
    //-         .progress-bar.progress-bar-success(style='width: 70%')
    //-         .progress-bar.progress-bar-danger(style='width: 30%')
    //-   .list-group-item
    //-     .list-group-item-heading name
    //-     p.list-group-item-text 
    //-       .progress(style='height: 8px;border-radius: 1px;')
    //-         .progress-bar.progress-bar-success(style='width: 70%')
