.page
  #statusbar
    .progress
      .progress-bar.progress-bar-striped.active(data-hook='bar')
        &nbsp;
  .content(style='margin-left: 240px;')
    div(data-hook='collection-container')
    .clearfix

  .sidebar.panel
    .panel-heading.list-filter
      span.octicon.octicon-search.search-icon
      input.form-control(type='search', placeholder='Search dbs and collections')
    div(data-hook='collections')
  .sidebar-bg
