.page {
  max-height: 100%;
  min-height: 100%;
  overflow-y: auto;
  width: 100%;
}

.content {
  max-height: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.panel-title {
  i.fa {
    margin-right: 6px;
  }
}
.vgroup {
  flex-direction: column;
  display: flex;
}

.hgroup {
  display: flex;
  flex-direction: row;
}

.schema-field {
  .schema-field-name {
    .h5;
    .list-group-item-heading;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.schema-field-type-list{
  .progress;
  border-radius: 1px;
  height: 8px;
  cursor: pointer;

  .schema-field-type {
    .progress-bar;
    background: @red;
  }

  .schema-field-type-null {
    background: @series-bg-1;
  }
  .schema-field-type-number {
    background: @series-bg-2;
  }
  .schema-field-type-long {
    background: @series-bg-3;
  }
  .schema-field-type-string {
    // background: @series-bg-4;
    background: @brand-primary;
  }
  .schema-field-type-boolean {
    background: @series-bg-5;
  }
}

.schema-value-list {
  .schema-value-list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


// minicharts
@mc-bar-bg: #F2F4F5;
@mc-bar-fg: #38A1DF;
@mc-bar-hl: #BEDFF0;

.minichart {
  font: 10px sans-serif;

  text {
    fill: #000;
  }

  .bar {
    shape-rendering: crispEdges;

    rect.bg {
      fill: @mc-bar-bg;
    }

    rect.fg {
      fill: @mc-bar-fg;
    }

    rect.hl {
      fill: @mc-bar-hl;
    }
  }

  .line {
    stroke: @mc-bar-fg;
    shape-rendering: crispEdges;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

