.page
  #statusbar
    .progress.hidden
      .progress-bar.progress-bar-striped.active(data-hook='bar')
        &nbsp;
  .content(style='margin-left: 240px;')
    div(data-hook='collection-container')
    .clearfix

  .sidebar.panel
    div(data-hook='collections-filter')
    div(data-hook='collections')
  .sidebar-bg
