.page
  .content(style='margin-left: 240px;')
    div(data-hook='collection-container')
    .clearfix

  .sidebar
    div(style='padding: 11px 0px; margin-bottom: 10px;font-weight: 600;border-bottom: 1px solid #d9deeb;')
      h1 Namespaces
    div(data-hook='collections')
  .sidebar-bg
