div.animated
  .row: .col-xs-12
    h3.h4 Do you have a GitHub account?
  .row
    .col-xs-6
      button.btn.btn-primary.btn-lg(data-hook='connect-github')
        i.fa.fa-fw.fa-github
        | Sign In To GitHub
    .col-xs-6
      button.btn.btn-default.btn-lg(data-hook='skip')
        | Skip
