div.animated.wizard-content
  span.scout-logo
  h1 Welcome to MongoDB Scout
  p.lead MongoDB Scout provides users with a graphical view of their MongoDB schema by randomly sampling a subset of documents from the entire collection. By sampling a subset of documents, MongoDB Scout has minimal impact on the database and can produce results to the user almost instantly.
  .wizard-form-content.text-center
      button.btn.btn-primary.btn-lg.btn-connect-github(data-hook='connect-github')
        i.fa.fa-fw.fa-github
        | Sign In With GitHub
  .wizard-stepper
      button.btn.btn-default(data-hook='skip') Skip
