div.animated
  div(style='text-align: center; margin-top: 50px;margin-bottom: 50px;')
    img.animated(data-hook='leaf', src='images/mongodb-leaf_256x256.png')

  h1(style='text-align: center;') Thanks for trying MongoDB Scout!
    .small Let's take a minute to setup your computer.
  .row(style=';text-align: center;')
    button.btn.btn-primary.btn-lg(data-hook='continue') Continue
