.collection-view.clearfix
  div(data-hook='sampling-message-subview')
  header
    .row
      .col-md-6
        h1(data-hook='name')
      .col-md-6
        div(data-hook='stats-subview')
  div(data-hook='refine-bar')
  .hidden(data-hook='empty')
    ul.message-background.with-sidebar.centered: li
      p No documents found.
  .column-container(data-hook='column-container')
    .column.main
      div(data-hook='fields-subview')
    .splitter
      button.btn.btn-link.splitter-button.splitter-button-open(title='View Sampled Documents')
        i.fa.fa-caret-left
        | &nbsp;
        i.fa.fa-file-text-o

      button.btn.btn-link.splitter-button.splitter-button-close(title='Hide Sampled Documents')
        i.fa.fa-file-text-o
        | &nbsp;
        i.fa.fa-caret-right
    .column.side
      div(data-hook='documents-subview')
