.page
  .content.with-sidebar
    div(data-hook='collection-subview')
    div.report-zero-state(data-hook='report-zero-state')
      img(src='images/zero-state-arrow-collections.png', width="110")
      span Choose a collection to analyze
  div(data-hook='sidebar')
