.page
  .content.with-sidebar
    div(data-hook='collection-subview')
    div.report-zero-state(data-hook='report-zero-state')
      img(src='images/zero-state-arrow-collections.png', width="110")
      span Choose a collection to analyze
    div.no-collections-zero-state(data-hook='no-collections-zero-state')
      span
        |The MongoDB instance you are connected to does not contain any collections.&nbsp;
        a.show-connect-window Connect to another instance
        |.
  div(data-hook='sidebar')
