.footer
  .container-fluid
    .row
      .col-md-12
        .pull-right
          p.small made and supported by MongoDB
        ul.list-unstyled.list-inline
          li: a(href='/docs.html') Documentation 
          li: a(href='/blog') Blog 
          li: a(href='/discuss.html') Discuss
          li: a(href='/contact.html') Contact
