.sortable-table {
  table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
  }

  table tr th {
    color: white;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    padding-left: 24px;

    &.active .sort {
      visibility: visible;
    }

    &:not(.active) .sort {
      visibility: hidden;
    }

    &:hover:not(.active) .sort {
      visibility: visible;
      opacity: 0.5;
    }
  }

  table thead tr {
    margin-top: 30px;
    height: 50px;
  }

  table tbody tr {
    height: 50px;
    background-color: white;
  }

  table tr td {
    border-bottom: 3px solid @gray8;
    padding: 13px 0;
  }
}
