.status-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px 15px;

  height: 32px;
  border-bottom: 1px solid @gray7;

  font-size: 13px;
  font-weight: 200;

  background-color: @gray8;
  color: #000;
  span, div, p {
    display: inline-block;
  }

  &-has-warning {
    background-color: #FEE9C3;
    color: #7F6A4E;
  }

  &-has-error {
    background-color: @alertRed;
    color: @pw;
    border: 1px solid rgba(255,255,255,0.4);
  }
}
