.tab-nav-bar {

  &-is-light-theme {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &-header {
    background-color: @pw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 38px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
  }

  &-tabs {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 0;
    position: absolute;
    top: 9px;
    margin-left: 0px;
    padding-left: 15px;
  }

  &-tab {
    height: 29px;
    width: 130px;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0;
    color: #838F9B;
    border-bottom: 3px solid @pw;
  }

  &-tab:hover {
    background-color: @pw;
    color: @chart1;

    .tab-nav-bar-link {
      color: @chart1;
    }
  }

  &-link {
    margin: auto;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }

  &-link:hover, &-link:active, &-link:focus {
    text-decoration: none;
    color: @gray0;
  }

  &-is-selected {
    .tab-nav-bar-link {
      color: @chart1;
    }

    &.tab-nav-bar-tab:hover {
      border-color: @chart1;
    }
    cursor: default;
    border-color: @chart1;
  }
}
