#intercom-launcher {
  height: 0px !important;
  width: 0px !important;

  .intercom-launcher-button {
    display: none !important;
  }
}

.intercom-sheet-header-minimize-button {
  height: 0px !important;
  width: 0px !important;
  display: none !important;
  pointer-events: none !important;
  -webkit-pointer-events: none !important;
}

// style overrides for incoming messages
#intercom-container .intercom-launcher-preview-caret {
  display: none !important;
}

#intercom-container .intercom-launcher-preview.intercom-launcher-preview-multi-line {
  right: 0 !important;
}

#intercom-container .intercom-launcher-badge {
  z-index: 10 !important;
}
