.collections-table {
  background-color: @gray8;
  overflow-y: scroll;
  padding: 0 20px 100px 20px;

  &-link, &-link:hover, &-link:active {
    text-decoration: none;
  }

  &-create-button {
  }
}
