@import './drop-collection-dialog.less';

.collections-table {
  font-family: "Akzidenz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: @gray8;
  height: 100vh;
  min-width: 100%;
  overflow-x: scroll;
  margin-top: -60px; //  hack to compensate for light view having +60 margin top

  &-create-button {
    margin-left: 23px;
    margin-top: 130px; // this is a bit of a hack
  }
}
