.collections-table {
  font-family: "Akzidenz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: @gray8;
  height: 100vh;
  min-width: 100%;
  overflow-x: scroll;
}
