@import './drop-collection-dialog.less';

.collections {

}

.collections-table {
  > div {
    background-color: @gray8;
    overflow-y: scroll;
    padding: 0 20px 100px 20px;
    position: absolute;
    top: 114px;
    right: 0;
    bottom: 0;
    left: 250px;
  }


  &-create-button {

  }
}
