.create-database-modal {
  h1 {
    margin-bottom: 30px;
  }

  div[role='dialog'] > :first-child {
    max-height: 80vh;
    overflow: scroll;
  }
}

.collection-name-info-banner {
  margin-top: 12px;
}
.collection-name-info-banner:not(:last-child) {
  margin-bottom: 8px;
}
