sudo: false
dist: trusty
language: node_js
node_js:
  - 12.4.0
script: DEBUG=* npm run-script ci
cache:
  directories:
    - $HOME/.electron
addons:
  apt:
    packages:
      - rpm
      - lintian
after_success:
  - lintian test/fixtures/hadron-app/dist/*.deb
