@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/akzidgrostdmed.eot');
    src: url('../fonts/akzidgrostdmed.eot') format('embedded-opentype'),
    url('../fonts/akzidgrostdmed.woff') format('woff'),
    url('../fonts/akzidgrostdmed.ttf')  format('truetype');
    font-style: normal;
    font-weight: bold;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Akzidenz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  position: relative;
}

.sq {
  background: #43B1E5;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  margin-top: -36px;
}

@keyframes SQ1 {
  0%    { transform: translate(0%,     50%)    scaleX(1); background-color: #43B1E5; }
  12.5% { transform: translate(-50%,   50%)    scaleX(0); background-color: #4D5359;  }
  25%   { transform: translate(-100%,  50%)    scaleX(1); background-color: #43B1E5; }
  37.5% { transform: translate(-100%,  0%)     scaleX(1); }
  50%   { transform: translate(-100%, -50%)    scaleX(1); background-color: #43B1E5; }
  62.5% { transform: translate(-50%,  -50%)    scaleX(0); background-color: #4D5359;  }
  75%   { transform: translate(0%,    -50%)    scaleX(1); background-color: #43B1E5; }
  100%  { transform: translate(0%,     50%)    scaleX(1); }
}

@keyframes SQ2 {
  0%    { transform: translate(-100%, -50%)   scaleX(1); background-color: #43B1E5;}
  12.5% { transform: translate(-50%,  -50%)   scaleX(0); background-color: #4D5359; }
  25%   { transform: translate(0%,    -50%)   scaleX(1); background-color: #43B1E5;}
  50%   { transform: translate(0%,     50%)   scaleX(1); background-color: #43B1E5;}
  62.5% { transform: translate(-50%,   50%)   scaleX(0); background-color: #4D5359; }
  75%   { transform: translate(-100%,  50%)   scaleX(1); background-color: #43B1E5;}
  100%  { transform: translate(-100%, -50%)   scaleX(1); }
}

.sq1 {
  animation: SQ1 1.25s infinite cubic-bezier(0.470, 0.000, 0.745, 0.715);
}

.sq2 {
  animation: SQ2 1.25s infinite cubic-bezier(0.470, 0.000, 0.745, 0.715);
}

span {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
