#statusbar
  .progress(data-hook='outer-bar')
    .progress-bar.progress-bar-striped.active(data-hook='inner-bar')
  .sidebar(data-hook='static-sidebar')
  ul.message-background.with-sidebar.centered(data-hook='message-container')
    li
      p(data-hook='message')
      .spinner(data-hook='animation')
        .rect1
        .rect2
        .rect3
        .rect4
        .rect5
      div(data-hook='subview-container')
