@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "./styles/index.less";
@import "sidebar/index.less";
@import "./help/index.less";

.content, .layout-container, .page {
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
