doctype html
html(lang='en')
  head
    title MongoDB Compass
    meta(http-equiv="Content-Security-Policy", content="default-src *; img-src data: *;script-src 'self' https://*.googleapis.com https://maps.gstatic.com http://localhost:35729 https://widget.intercom.io https://js.intercomcdn.com/ 'unsafe-eval'; style-src 'self' https://fonts.googleapis.com 'unsafe-inline';")
    meta(name='viewport', content='initial-scale=1')
    link(rel='stylesheet', href='../app/index.less', charset='UTF-8')
  body
    #application
      div(data-hook='statusbar')
      div(data-hook='layout-container')

    script(src='index.js', charset='UTF-8', async)
