.leaflet-draw-toolbar a {
  background-image: url(~leaflet-draw/dist/images/spritesheet.png);
  background-image: linear-gradient(transparent,transparent), url(~leaflet-draw/dist/images/spritesheet.svg);
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url(~leaflet-draw/dist/images/spritesheet-2x.png);
  background-image: linear-gradient(transparent,transparent), url(~leaflet-draw/dist/images/spritesheet.svg)
}
