.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0;
  position: fixed;
  z-index: 10;
  -webkit-transform: translateZ(0);
  margin-bottom: 0;

  top: 0;
  left: 0;
  bottom: 0;
  width: @sidebar-width;
  background: @sidebar-bg;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;

  &.auto-update-available {
    top: 40px;
  }

  .compass-logo {
    background: @slate0 url("images/logo-compass-on-dark.png") center center no-repeat;
    background-size: 162px 28px;
    width: @sidebar-width;
    height: 60px;
  }

  .widget-container > div {
    margin: 18px 10px;
    width: @sidebar-width;
  }

  .list-filter {
    width: 100%;
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);

    i.search {
      .fa-icon;
      position: absolute;
      margin-top: 9px;
      margin-left: 10px;
      color: @gray7;
    }
    input {
      padding: 7px 5px 5px 30px;
      height: auto;
      background: lighten(@slate1, 5%);
      color: @pw;
      width: 100%;
      border: none;
      transition: all 150ms ease;

      &:focus {
        background: lighten(@slate1, 8%);
      }
    }
    input::-webkit-input-placeholder {
      color: @gray5;
    }
  }

  .panel-title {
    color: @gray5;
    margin: 5px;
  }
  .list-group {
    margin-bottom: 10px;
    line-height: 24px;
    overflow-y: auto;
    width: 100%;
    z-index: -1;

    &.root {
      bottom: 0px;
    }

    &.nested {

      .list-group-item, .list-group-item-heading {
        a {
          padding-left: 24px;
        }

        i.icon {
          margin-left: 0px;
        }
      }
    }

    .list-group-item-heading {
      cursor: default;
      color: @gray5;
      font-weight: bold;
    }

    &:last-child .list-group-item:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .list-group-item {
      padding: 0;
      cursor: pointer;
      border-top-width: 0;
      border-bottom-width: 0;
      background: none;
      color: @gray5;
      font-weight: normal;
      transition: all 180ms ease-out;

      &:hover {
        background-color: #42494f;
        a {
          color: @pw;
          transition: all 180ms ease-out;
          text-decoration: none;
        }
      }

    }

    .list-group-item, .list-group-item-heading {

      &.special {
        a {
          color: @gray3;
        }
        i {
          color: @gray3;
        }
        &:hover a {
          color: @gray3;
        }
      }

      a {
        display: block;
        color: @gray5;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      i.icon {
        margin: 0 5px;
        color: @pw;
      }

      &.active {
        background-color: #6D7984;
        a {
          color: @pw;
        }
        i {
          color: @pw;
        }
      }

      .close-icon {
        position: absolute;
        right: 0px;

        &:hover i {
          color: @pw;
        }
      }
    }
  }
}
