#schema-status-subview {
  .btn.btn-info {
    margin-right: 5px;
  }

  .btn.btn-info:hover {
    background-color: #67b144;
    border-color: #67b144;
    color: white;
  }
  div.buttons {
    font-size: 14px;
  }
  div.alert {
    display: inline-block;
    margin: 40px 0 30px;
  }
  ul.steps {
    width: 350px;
    margin: 0 auto 30px;
    text-align: left;
    font-size: 24px;
    color: @gray3; 
    font-weight: 200;

    li {
      margin: 10px 0;
      list-style: none;

      &.is-active {
        color: @chart1; // same blue as mini charts
      }
    }
    .mms-icon-check {
      font-size: 32px;
      position: static;
      display: inline-block;
      width: 40px;
      text-align: center;
    }
    .fa.fa-fw {
      font-size: 20px;
      width: 40px;
    }
  }
}
