#identifyOptIn.modal.fade(tabindex='-1' role='dialog', data-hook='main-modal')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Welcome to MongoDB Compass
      .modal-body
        p Please tell us a bit about you: 
        form
          ul
            li
              label
                div Your Name
                input(type='text', name='name', data-hook='full-name-input')
            li
              label
                div Email Address
                input(type='text', name='email', data-hook='email-input')
            li
              label
                div Twitter Handle (optional)
                input(type='text', name='twitter', data-hook='twitter-input')
              
      .modal-footer
        button.btn.btn-cancel(type='button', data-dismiss='modal', data-hook='cancel-button') Exit
        button.btn.btn-primary(type='button', data-dismiss='modal', data-hook='start-button') Start using Compass
