#playground.page

  .page-header
    h1 Playground

  .content
    h3 Minicharts
    div(data-hook='minicharts-container')
    hr

    //--- Add your playground section here ---
    //- h3 My Playground
    //- div(data-hook='myplayground-container')
    //- hr
