.rule-builder {
  padding-top: 20px;

  .delete-button {
    color: red;
  }
}

.rule-builder-table {
  .name-column {
    width: 30%;
  }
  .rule-column {
    width: 50%;
  }
  .null-column {
    width: 10%;
  }
  .ctrl-column {
    width: 10%;
  }

  .dropdown-header {
    input {
      margin-right: 5px;
    }

    b {
      margin-right: 5px;
    }
  }
}
