.rule-builder {
  padding-top: 20px;
}

.rule-builder-table {
  .name-column {
    width: 30%;
  }
  .rule-column {
    width: 50%;
  }
  .null-column {
    width: 10%;
  }
  .ctrl-column {
    width: 10%;
  }

  .form-group { 
    margin-bottom: 0;
  }

  .rule-category-form {
    .form-group {
      .form-control:first-child {
        border-radius: 3px 0 0 3px;
        margin-bottom: 3px;
      }
    }
  }

  .form-control {
    height: 28px;
    line-height: 22px;
  }

  .dropdown-toggle {
    height: 28px;
    line-height: 28px;
  }

  .regex-dropdown {
    border-left: none;
    border-radius: 0 3px 3px 0;

    &:focus {
      border-left: solid 1px #8c8c8c;
    }
  }

  .range-dropdown {
    border-right: none;
  }

  .input-group {
    margin-right: 5px;
  }

  .dropdown-header {
    font-size: inherit;
    color: inherit;
  }

  .dropdown-header {
    input {
      margin-right: 5px;
    }

    b {
      margin-right: 5px;
    }
  }
}

.table > tbody > tr > td { 
  vertical-align: middle;
}