.validation {

  &-notice {
    color: steelblue;
    background-color: #b0e0e6;
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
  }

  &-pill {
    float: left;
    margin: 13px 10px 13px 0;
    border: 1px solid steelblue;
    border-radius: 12px;
    padding: 1px 9px;
  }

  &-message {
    padding: 15px 0 15px;
  }

  &-rule-builder-wrapper {
    // TODO work-around so that the dropdowns can be shown, otherwise they get cut off.
    padding-bottom: 150px;
  }
}
