.validation-status-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  min-height: 26px;
  background-color: #f4f6f6;
  border-bottom: 1px solid #eaebeb;

  span, div, p {
    display: inline-block;
    font-size: 12px;
  }
}
