.drop-index-modal {
  .modal-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .drop-index-modal-content {
    padding-left: 40px;
    padding-right: 40px;

    .modal-header {
      padding-bottom: 4px;
    }

    .drop-confirm-message {
      margin-bottom: 4px;

      .drop-confirm-icon {
        margin-right: 8px;
      }
    }

    .drop-confirm-input {
      background: #fff;
      border-color: #ddd;
      border-radius: 2px;
    }

    .drop-btn-container {
      text-align: right;

      .drop-btn {
        margin-left: 10px;
      }
    }
  }
}
