#tour-out
  #tour-bg
  #tour
    #animation
      img#animation-gif(src="./images/tour/f1.gif")
    #features
      h2 Compass Overview
      ul
        li#f1.selected(data-n="0") Choose a collection
        li#f2(data-n="1") Browse schema
        li#f3(data-n="2") View data distribution
        li#f4(data-n="3") Build queries
        li#f5(data-n="4") View documents
      button#tour-remove(type="button", class="btn btn-info") Get Started

