#tour-out
  #tour-bg
  #tour
    .modal-header
      h2 Welcome to MongoDB Compass
    #animation
      img#animation-gif(src="./images/tour/f0.gif")
    #features
      #f0-content.feature-content.active
        h3.feature-title Choose a Collection
        p.feature-description See a list of collections in the left sidebar. Select a collection and Compass will instantly start analyzing the schema data. Use the search filter at the top to narrow your list of collections.
      #f1-content.feature-content
        h3.feature-title Browse the Schema
        p.feature-description Once a collection is loaded Compass will visualize the collection schema. Field are listed as rows in the main view. The left side of the row displays the field name and datatype distribution. The right side of the row displays a visualization of some of the data stored in the field.
      #f2-content.feature-content
        h3.feature-title View Data Distribution
        p.feature-description -------
      #f3-content.feature-content
        h3.feature-title Build Queries
        p.feature-description -------
      #f4-content.feature-content
        h3.feature-title View Documents
        p.feature-description -------
      .pager
        a.previous-slide Previous
        ul
          li#f0.selected(data-n="0", title="Choose a collection")
          li#f1(data-n="1", title="Browse schema")
          li#f2(data-n="2", title="View data distribution")
          li#f3(data-n="3", title="Build queries")
          li#f4(data-n="4", title="View documents")
        a.next-slide Next
      //- button#tour-remove(type="button", class="btn btn-info") Get Started

