doctype html
html(lang='en')
  head
    title Docs
    meta(name='viewport', content='initial-scale=1')
    link(rel='stylesheet', href='index.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans:700,600,400', rel='stylesheet', type='text/css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-top')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/', style='padding: 8px 15px;')
            img(style='height: 28px;', src='https://www.mongodb.org/static/images/mongodb-logo.png')
        #navbar-top.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
    .container-fluid
      .content.with-sidebar
        !{contents}
      
      .sidebar
      .sidebar-bg
    include includes/footer
