.compass-sidebar-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.compass-sidebar {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #4c5259;
  color: #bfbfbe;

  &-content {
    overflow-y: scroll;
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 250px;
  }

  &-title {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 14px;

    &-is-bold {
      font-weight: bold;
    }

    &-is-actionable {
      cursor: pointer;
      color: #fff;
      transition: all 180ms ease-out;

      &:hover {
        background-color: #42494f;
      }
    }
  }

  /* Databases and collections */
  &-item {
    position: relative;

    &-is-top-level {

    }
  }

  &-item-header {
    padding: 6px 12px 6px 36px;
    color: #9DA4AA;

    &-is-expandable {
      cursor: pointer;
    }
  }

  &-expand-icon,
  i[class^="mms-icon-"] {
    position: absolute;
    top: 8px;
    left: 9px;
    transition: all 180ms ease-out;
    color: #9DA4AA;
  }

  &-item-content {
    .compass {
      &-sidebar-item {
        &:hover {

        }
        &:last-child {
          margin-bottom: 12px;
        }
      }
      &-sidebar-title {
        padding: 4px 20px 5px 36px;
        font-size: 14px;
      }
    }
  }

  /* Filter */
  &-filter {
    position: relative;
    // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  &-search-icon {
    position: absolute;
    top: 11px;
    left: 11px;
    color: #838F9B;
  }

  &-search-input {
    padding: 9px 5px 7px 36px;
    height: auto;
    background: #3F4347;
    color: #fff;
    width: 100%;
    border: none;
    transition: all 150ms ease;
    /* Not sure why this is necessary in my code */
    box-sizing: border-box;;
    font-size: 14px;
    font-family: "Akzidenz", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #838F9B;
      transition: color 180ms ease-out;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #838F9B;
      transition: color 180ms ease-out;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #838F9B;
      transition: color 180ms ease-out;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #838F9B;
      transition: color 180ms ease-out;
    }
    &:focus {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #fff;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #fff;
      }
    }
  }

  /* Instance properties */
  &-properties {
    margin: 0;
    padding-bottom: 6px;
  }

  &-hostname {
    cursor: pointer;
    color: #fff;
    font-weight: normal;
    height: 54px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

    .fa-home {
      width: 26px;
      margin-left: 10px;
    }

    &:hover {
      background-color: #42494f;
    }
  }

  &-version {
    color: #9DA4AA;
    font-weight: normal;
    line-height: 16px;
    height: 16px;
    font-size: 13px;
    margin-left: 36px;
  }

  &-stats {
    color: #9DA4AA;
    margin-top: 0;
    line-height: 11px;
    height: 24px;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
  }

  &-property-column {
    display: inline-block;
    // border-right: 1px solid #70757a;
    padding-right: 10px;
    margin-right: 10px;
  }

  &-strong-property {
    font-weight: bold;
    color: #fff;
  }

  &-refresh-button {
    color: #ebebed;
    background: none;
    border: none;
    border-radius: 12px;
    font-size: 13px;
    height: 24px;
    width: 24px;
    margin-left: 5px;
    margin-right: 7px;
    padding: 4px;
    transition: all 150ms ease;

    &:hover {
      background: #42494f;
      color: #fff;
    }
  }
}
