/* Styles for the isidebar nstance properties */

.compass-sidebar {
  &-properties {
    margin: 0;
  }

  &-instance {
    cursor: pointer;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #42494f;

    &-icon {
      width: 26px;
      margin-left: 10px;
      vertical-align: top;
      margin-top: 2px;
    }

    &:hover {
      background-color: #42494f;
    }

    &-hostname {
      display: inline-block;
      height: 20px;
      width: 200px;
      line-height: 20px;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    &-hostname::-webkit-scrollbar {
      display: none;
    }

    &-ssh-tunnel {
      color: #fff;
      font-weight: normal;
      line-height: 12px;
      font-size: 12px;
      margin-left: 36px;
    }

    &-version {
      color: @compass-sidebar-default-text-color;
      font-weight: normal;
      line-height: 12px;
      font-size: 12px;
      margin-left: 36px;
    }

    &-is-active,
    &-is-active:hover {
      background-color: @compass-sidebar-active-background-color;
      border-top-color: @compass-sidebar-active-background-color;
    }

    &-is-active .compass-sidebar-instance-version,
    &-is-active:hover .compass-sidebar-instance-version {
      color: #fff;
    }

    &-is-active .compass-sidebar-icon-create-database,
    &-is-active:hover .compass-sidebar-icon-create-database {
      color: @compass-sidebar-active-background-color;
      &:hover {
        color: #fff;
      }
    }
  }

  &-stats {
    color: @compass-sidebar-default-text-color;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    padding: 4px 0 6px;
    text-transform: uppercase;
  }

  &-property-column {
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
  }

  &-strong-property {
    font-weight: bold;
    color: #fff;
  }

  &-refresh-button {
    color: #ebebed;
    background: none;
    border: none;
    border-radius: 12px;
    font-size: 13px;
    height: 24px;
    width: 24px;
    margin-left: 5px;
    margin-right: 7px;
    padding: 4px;
    transition: all 150ms ease;

    &:hover {
      background: #42494f;
      color: #fff;
    }
  }
}
