.document-footer {
  font-family: "Akzidenz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 28px;
  vertical-align: middle;
  top: 10px;
  position: relative;

  .edit-message {
    font-size: 14px;
    font-style: italic;
    padding-left: 10px;
    padding-top: 4px;
    color: @pw;
  }

  .document-footer-actions {
    position: absolute;
    right: 10px;
    top: 2px;
    padding-top: 1px;

    .cancel {
      font-weight: bold;
    }

    .update {
      font-weight: bold;
      border-radius: 3px;
    }
  }

  &.modified {
    background-color: @alertOrange;

    .document-footer-actions {

      .cancel {
        color: @alertOrangeBorder;
      }

      .update {
        color: @alertOrangeBorder;
        border-color: @alertOrangeBorder;

        &:hover {
          background-color: rgba(255,255,255,0.7);
        }
      }
    }
  }
  &.in-progress.in-progress {
    background-color: @chart1;
  }
  &.success {
    background-color: @green2;
  }
  &.error {
    background-color: red;
  }
}

ol.document-property-body:hover {
  .document-actions {
    button {
      visibility: visible;
    }
  }
}

.document-elements {
  width: 75%;
  counter-reset: line;
  position: relative;

  .document-property.array {
    margin-left: 0px !important;
  }

  .document-property.object {
    margin-left: 0px !important;
  }

  .line-number {
    display: inline-block;
    color: @gray4;
    width: 18px;
    height: 17px;
    text-align: center;
    position: absolute;
    left: -20px;
    margin-right: 18px;

    &::before {
      counter-increment: line;
      content: counter(line);
    }
  }

  .types {
    display: inline-block;
    float: right;
    width: 100px;
    color: #999999;
    height: 17px;

    .btn {
      background-color: transparent;
      color: @gray4;
      border: none;
      text-transform: none;
      font-size: 11px;
      border-radius: 8px;
      padding: 1px 12px;
    }

    .caret {
      visibility: hidden;
      margin-right: 0px;
      margin-left: 4px;
    }

    .dropdown-menu {
      li {
        span {
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: normal;
          font-size: 11px;
          color: #333333;
          white-space: nowrap;
        }
        span:hover {
          color: #313030;
          text-decoration: none;
          background: #e6e6e6;
        }
      }
    }
  }

  li.document-property.non-expandable:hover {
    background-color: @gray8;

    input {
      background-color: @gray8;

      &:focus {
        background-color: @pw;
      }
    }

    .actions {
      visibility: visible;
    }

    .types {
      .btn {
        background-color: @gray6;
        color: @gray0;
      }
      .caret {
        visibility: visible;
      }
    }
  }

  li.document-property {

    .actions {
      display: inline-block;
      visibility: hidden;
      width: 18px;
      text-align: center;
      cursor: pointer;
      color: #999999;
    }

    &.added {
      background-color: @greenBg;

      input {
        background-color: @greenBg;

        &:focus {
          background-color: @pw;
        }
      }

      .line-number {
        background-color: @green2;
        color: @pw;
      }
    }

    &.edited {
      background-color: @alertOrangeBg;

      input {
        background-color: @alertOrangeBg;

        &:focus {
          background-color: @pw;
        }
      }

      .line-number {
        background-color: @alertOrange;
        color: @pw;
      }
    }

    &.removed {
      background-color: @alertRedBg;

      input {
        background-color: @alertRedBg;

        &:focus {
          background-color: @pw;
        }
      }

      .line-number {
        background-color: @alertRed;
        color: @pw;
      }
    }
  }

  div.document-property-header.expandable:hover {
    background-color: #ebebed !important;

    input {
      background-color: #ebebed !important;
    }

    .line-number {
      background-color: #ebebed !important;
    }

    .actions {
      visibility: visible;
    }

    .types {
      .btn {
        border-color: #8c8c8c;
      }
      .caret {
        visibility: visible;
      }
    }
  }

}

.document-actions {
  position: absolute;
  top: 0;
  right: 10px;

  button {
    visibility: hidden;
  }
}

input.editable-key {
  font-weight: bold;
  border: none;
  padding-left: 1px;

  &.editing {
    border: 1px solid #999999;
    box-shadow: 0px 2px 4px 0px #999999;
    margin-bottom: 4px;
  }
}

input.editable-value {
  border: none;
  padding-left: 1px;

  &.editing {
    border: 1px solid #999999;
    box-shadow: 0px 2px 4px 0px #999999;
    margin-bottom: 4px;
  }
}

.document-property.string > .editable-value {
  color: steelblue;
}

.document-property.number > .editable-value {
  color: green;
}

.document-property.boolean > .editable-value {
  color: purple;
}

.document-property.date > .editable-value {
  color: firebrick;
}
