.document-actions {
  position: absolute;
  width: 100%;
  top: 15px;
  padding: 0px 25px 0px 25px;

  &-button {
    visibility: hidden;
  }

  &-right {
  	float: right;
  }
  &-left {
  	float: left;
  }
}
