.document-elements {

  counter-reset: document-line-number;
  display: block;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;

  .line-number {
    position: absolute;
    left: 21px;
  }

  .editable-element-types {
    position: absolute;
    right: 0px;
  }

  div.document-property-header.expandable:hover {
    background-color: #ebebed !important;

    input {
      background-color: #ebebed !important;
    }

    .actions {
      opacity: 1;
    }

    .types {
      .btn {
        border-color: #8c8c8c;
      }
      .caret {
        visibility: visible;
      }
    }
  }
}

