.document-elements {

  counter-reset: document-line-number;
  display: block;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;

  .editable-element-line-number {
    position: absolute;
    left: -18px;
  }

  .editable-element-types {
    position: absolute;
    right: 0px;
  }

  li.document-property.non-expandable:hover {
    background-color: @gray8;

    input {
      background-color: @gray8;

      &:focus {
        background-color: @pw;
      }
    }

    .actions {
      opacity: 1;
    }

    .types {
      .btn {
        background-color: @gray6;
        color: @gray0;
      }
      .caret {
        visibility: visible;
      }
    }
  }

  li.document-property {

    .hotspot {
      height: 10px;
      display: inline-block;
      width: 50%;
    }

    .actions {
      display: inline-block;
      opacity: 0;
      width: 18px;
      font-size: 13px;
      line-height: 11px;
      margin-left: -35px;
      margin-right: 35px;
      text-align: center;
      color: @gray3;

      i:hover {
        cursor: pointer;
      }
    }
  }

  div.document-property-header.expandable:hover {
    background-color: #ebebed !important;

    input {
      background-color: #ebebed !important;
    }

    .actions {
      opacity: 1;
    }

    .types {
      .btn {
        border-color: #8c8c8c;
      }
      .caret {
        visibility: visible;
      }
    }
  }
}

