.document-actions {
  position: absolute;
  width: 100%;
  top: 15px;
  padding: 0px 20px 0px 20px;

  &-button {
    visibility: hidden;
  }

  &-expand-button {
  	padding: 0px 7px 0px 7px;
  }

  &-right {
  	float: right;
  }
  &-left {
  	float: left;
  }
}
