.element {

  width: 100%;
  display: block;
  font-size: 11px;

  &-field {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
  }

  &-separator {
    padding-right: 2px;
    vertical-align: top;
  }

  &-value {

    display: inline-block;
    vertical-align: top;

    &-is-string {
      color: steelblue;
      white-space: pre-line;
      word-break: break-all;
      &::before {
        content: "\"";
      }
      &::after {
        content: "\"";
      }
    }

    &-is-int32 {
      color: #145a32;
    }

    &-is-int64 {
      color: #196f3d;
    }

    &-is-double {
      color: #1e8449;
    }

    &-is-decimal128 {
      color: #229954;
    }

    &-is-date {
      color: firebrick;
    }

    &-is-boolean {
      color: purple;
    }

    &-is-objectid {
      color: orangered;
      &::before {
        content: "ObjectID('";
      }
      &::after {
        content: "')";
      }
    }

    &-is-code {
      &::before {
        content: "Code('";
      }
      &::after {
        content: "')";
      }
    }
  }
}
