.expandable-element {

  width: 100%;
  display: block;
  font-size: 11px;

  &-header {

    cursor: pointer;

    &-field {
      display: inline-block;
      font-weight: bold;
    }

    &-separator {
      padding-right: 2px;
    }

    &-label {
      display: inline-block;
    }

    &-toggle {
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-left: @caret-width-base solid;
      border-right: 0;
      border-top: @caret-width-base solid transparent;
      border-bottom: @caret-width-base solid transparent;
    }

    &-is-expanded {
      .expandable-element-header-toggle {
        border-top: @caret-width-base solid;
        border-right: @caret-width-base solid transparent;
        border-left: @caret-width-base solid transparent;
      }
    }
  }

  &-children {
    display: none;
    padding-left: 15px;

    &-is-expanded {
      display: block;
    }
  }
}
