div.collection-stats-holder
  div.selection-bar
  ul.collection-stats(data-hook='document-stats')
    li.collection-stats-item
      .collection-stats-primary-label Documents
      #document_count.collection-stats-primary-value(data-hook='document_count')
    li.collection-stats-item
      .collection-stats-label total size
      .collection-stats-value(data-hook='document_size')
    li.collection-stats-item
      .collection-stats-label avg. size
      .collection-stats-value(data-hook='document_size_average')
  ul.collection-stats(data-hook='index-stats')
    li.collection-stats-item
      .collection-stats-primary-label Indexes
      #index_count.collection-stats-primary-value(data-hook='index_count')
    li.collection-stats-item
      .collection-stats-label total size
      .collection-stats-value(data-hook='index_size')
    li.collection-stats-item
      .collection-stats-label avg. size
      .collection-stats-value(data-hook='index_size_average')
