.collection-view {
  header {
    padding: 12px 0 0;
    background: @pw;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  h1 {
    margin-top: 12px;
    font-size: 24px;
  }

  .column {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    position: relative;
    transition: width 250ms ease;
  }

  .main {
    padding: 0 26px 100px 26px;
    background-color: @gray8;
  }

  .side {
    width: 0;
    font-family: @font-family-monospace;
    font-size: 11px;
    border-left: 2px solid @gray7;
    right: -12px;
    top: 30px;
  }

}
