.collection-view {
  header {
    padding: 12px 0 0;
    position: fixed;
    z-index: 4;
    background: @pw;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  h1 {
    margin-top: 12px;
    font-size: 24px;
  }
  .column-container {
    display: flex;
    overflow: hidden;
    height: 100vh; // this isn't working properly at 100, is it a flexbox bug?
    margin-top: -102px; // total computed header + .refine-view-container height
    padding-top: 102px; // total computed header + .refine-view-container height
    width: 100%;
    &.with-refinebar {
      margin-top: -155px;
      padding-top: 155px;
    }
    &.with-refinebar-and-message {
      margin-top: -187px;
      padding-top: 187px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header-margin {
    margin-top: 50px; // size of header
  }

  .column {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    position: relative;
    transition: width 250ms ease;
  }

  .main {
    padding: 0 26px 100px 26px;
    flex: 1;
    overflow-x: hidden;
    background-color: @gray8;
  }

  .side {
    width: 0;
    font-family: @font-family-monospace;
    font-size: 11px;
    border-left: 2px solid @gray7;
    right: -12px;
    top: 30px;
  }

  .splitter {
    width: 20px;
    height: 20px;
    position: relative;
    right: 10px;
    transition: right 250ms ease;
  }
  .splitter-button {
    outline: none;
    color: @gray1;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
    &:active {
      outline: none;
      color: @green2;
    }
  }
  .splitter-button-close {
    display: none;
  }
  .column-container.sidebar-open {
    .side {
      width: 33%;
      right: 0;
    }
    .splitter {
      right: -2px;
    }
    .splitter-button-open {
      display: none;
    }
    .splitter-button-close {
      display: inline-block;
    }
  }
}
