.create-index-modal {
  width: 65%;
  margin-left: auto;
  margin-right: auto;

  .create-index-error {
    background: #ef4c4c;
    color: #fff;
    margin-bottom: 10px;

    .panel-body {
      padding: 8px;
    }

    .create-index-error-icon {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0px;
      margin-left: 8px;
      vertical-align: middle;
    }

    .create-index-error-message {
      display: inline-block;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 0px;
      margin-left: 12px;
      vertical-align: middle;
    }
  }

  .create-index-in-progress {
    background: rgb(73, 180, 230);
    color: #fff;
    margin-bottom: 10px;

    .panel-body {
      padding: 8px;
    }

    .create-index-in-progress-icon {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0px;
      margin-left: 8px;
      vertical-align: middle;
    }

    .create-index-in-progress-message {
      display: inline-block;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 0px;
      margin-left: 12px;
      vertical-align: middle;
    }
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    border-radius: 50%;
  }

  .create-index-description {
    margin-bottom: 4px;
  }

  .create-index-fields {
    margin-bottom: 10px;
  }

  .create-index-field {
    .create-index-field-dropdown-name {
      width: 180px;
      text-align: left;
      text-transform: none;
    }

    .create-index-field-dropdown-type {
      width: 102px;
      text-align: left;
      text-transform: none;
    }
  }

  input {
    &[type="text"] {
      background: #fff;
      border-color: #ddd;
      border-radius: 2px;
    }
  }

  .create-index-options {
    .create-index-checkbox {
      margin-top: 0px;

      .create-index-checkbox-input {
        font-size: 120%;
      }

      .create-index-checkbox-description {
        display: inline-block;
        font-weight: normal;
        margin-bottom: 4px;
        margin-left: 10px;
      }
    }

    .create-index-text-field {
      .create-index-text-field-input {
        background: #fff;
        border-color: #ddd;
        border-radius: 2px;
      }
    }

    .create-index-param {
      margin-bottom: 12px;

      .create-index-param-input {
        background: #fff;
        border-color: #ddd;
        border-radius: 2px;

        &[disabled] {
          border: 1px solid rgba(204, 204, 204, 0.3);
        }
      }

      .partial-filter-input {
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      }

      .inline-option-field {
        display: inline-block;
        width: 55%;
      }

      .create-index-param-description {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  .options-toggle-bar {
    .options-toggle-bar-header {
      margin-top: 10px;

      .options-toggle-bar-header-text {
        display: inline;
        margin-left: 4px;
      }
    }
  }

  .selected-index {
    .selected-index-panel {
      margin-top: 8px;
      margin-bottom: 0px;

      .panel-body {
        padding: 8px;
      }

      .selected-index-panel-field {
        float: left;
        margin-left: 4px;
      }

      .selected-index-panel-type {
        float: right;
        margin-right: 38px;
      }
    }

    .selected-index-btn {
      margin-top: 10px;
    }
  }

  .index-field-dropdown-btn {
    text-transform: none;
  }

  .create-index-confirm-buttons {
    text-align: right;

    .create-index-confirm-buttons-cancel {
      margin-left: 10px;
    }

    .create-index-confirm-buttons-create {
      margin-left: 10px;
    }
  }
}
