.index-ddl-error {
  background: #ef4c4c;
  color: #fff;
  margin-bottom: 10px;
  overflow: scroll;

  .panel-body {
    padding: 8px;

    .row {
      margin-left: -7px;
      margin-right: -8px;
    }
  }

  .index-ddl-error-icon {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 4px;
    vertical-align: middle;
  }

  .index-ddl-error-message {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 12px;
    vertical-align: middle;
  }
}

.index-ddl-in-progress {
  background: rgb(73, 180, 230);
  color: #fff;
  margin-bottom: 10px;

  .panel-body {
    padding: 8px;
  }

  .index-ddl-in-progress-icon {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 8px;
    vertical-align: middle;
  }

  .index-ddl-in-progress-message {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 12px;
    vertical-align: middle;
  }
}
