.create-collection-dialog {
  width: 500px;

  p {
    font-weight: bold;
  }

  label {
    margin: 0;
  }

  &-capped {
    margin-left: 5px;
    display: inline-block;
  }

  &-size-input {
    width: 150px;
    display: inline-block;
  }

  &-size-field {
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    color: @gray0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0;
    margin-bottom: 0;
    font-weight: normal !important;
  }

  &-form-notice {
    color: steelblue;
    background-color: #B0E0E6;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;

    a {
      margin-left: 2px;
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
