.refine-view-container {
  position: relative;
  z-index: 1;

  .query-input-container {
    padding: 12px 10px;
    background: @gray7;

    input[type='text'] {
      font-family: @font-family-monospace;
      background: @pw;
      height: 28px;
      & + .input-group-btn {
        padding-left: 10px;

        &:last-child > .btn {
          margin-left: 2px;
        }
      }
    }
  }
}
