.refine-view-container
  .query-input-container: .row: .col-md-12: form: .input-group(data-hook='refine-input-group')
    input#refine_input.form-control.input-sm(type='text', data-hook='refine-input')
    span.input-group-btn
      button#apply_button.btn.btn-default.btn-sm(type='button', data-hook='apply-btn') Apply
      button#reset_button.btn.btn-default.btn-sm(type='button', data-hook='reset-button') Reset
  div(data-hook='sampling-message-subview')
