nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    ul.nav.navbar-nav.navbar-left
      li
        p.lead(style='padding-top: 10px') A newer version of Compass is now available! Want it?
    ul.nav.navbar-nav.navbar-right
      li
        a.btn.btn-default(data-hook='cancel') No Thanks
      li
        a.btn.btn-primary(data-hook='install-update') Install and Restart
