#auto-update {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;

  background-color: #6ba442;
  color: #FFFFFF;
  z-index: 5021;
  border-top: 1px solid darken(#6ba442, 10%);
  border-bottom: 1px solid darken(#6ba442, 10%);

  .btn-group {
    position: relative;
  }

  p {
    padding-left: 10px;
    padding-top: 5px;
  }

  a.btn {
    border: 0;
    position: relative;
    top: -1px;
    font-size: 13px;
    color: #ffffff;
    height: 30px;
    width: 90px;
    text-transform: none;
    background-color: #6ba442;
    &:hover {
      background-color: darken(#6ba442, 5%);
    }
    &:active:hover {
      background-color: darken(#6ba442, 10%);
    }
  }

  a.btn:first-child {
    background-color: @slate1;
    &:hover {
      background-color: darken(@slate1, 5%);
    }
    &:active:hover {
      background-color: darken(@slate1, 10%);
    }
  }
}
