#auto-update
  .btn-group.pull-right
    a.btn.btn-primary(data-hook='cancel', href='#') Not now
    a.btn.btn-primary(data-hook='confirm', href='#') Yes please
  
  p A newer version of Compass is now available! Would you like to install it and restart Compass?
