#auto-update {
  background-color: #6ba442;
  color: #FFFFFF;
  z-index: 1021;
  border: 1px solid darken(#6ba442, 10%);

  p {
    padding-left: 10px;
    padding-top: 10px;
  }
  .btn {
    height: 40px;
    padding-top: 10px;
  }
}
