.page {
  max-height: 100%;
  min-height: 100%;
  overflow-y: auto;
  width: 100%;
}

.badge {
  border: 1px solid @gray-lighter;
}

.state-arrow {
  margin: 185px 0 0 20px;

  img {
    margin-bottom: 7px;
  }
  span {
    font-size: 24px;
    color: @gray4;
    font-weight: 200;
    margin-left: 15px;
  }
}

.content {
  max-height: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.panel-title {
  i.fa {
    margin-right: 6px;
  }
}
.vgroup {
  flex-direction: column;
  display: flex;
}

.hgroup {
  display: flex;
  flex-direction: row;
}

.collection-view {
  header {
    padding: 12px 0 0;
    position: fixed;
    z-index: 4;
    background: @pw;
    width: ~"calc(100% - 250px)";
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  h1 {
    margin-top: 12px;
    font-size: 24px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      color: @chart1;
      margin-right: 2px;
      text-decoration: none;
      white-space: nowrap;
    }
    span {
      margin-left: 2px;
    }
  }
  .column-container {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header-margin {
    margin-top: 50px; // size of header
  }

  .column {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    position: relative;
    transition: width 250ms ease;
  }

  .main {
    padding: 0 26px 100px 26px;
    overflow-x: hidden;
    background-color: @gray8;
    position: absolute;
    left: 250px;
    right: 0;
    bottom: 0;
    top: 95px;
  }

    .column-container {
      &.with-message {
        .main {
          top: 128px;
        }
      }
      &.with-refinebar {
        .main {
          top: 149px;
        }
      }
      &.with-refinebar-and-message {
        .main {
          top: 181px;
        }
      }
      &.with-refinebar-and-2xmessage {
        .main {
          top: 214px;
        }
      }
    }

  .side {
    width: 0;
    font-family: @font-family-monospace;
    font-size: 11px;
    border-left: 2px solid @gray7;
    right: -12px;
    top: 30px;
  }

  .splitter {
    width: 20px;
    height: 20px;
    position: relative;
    right: 10px;
    transition: right 250ms ease;
  }
  .splitter-button {
    outline: none;
    color: @gray1;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
    &:active {
      outline: none;
      color: @green2;
    }
  }
  .splitter-button-close {
    display: none;
  }
  .column-container.sidebar-open {
    .side {
      width: 33%;
      right: 0;
    }
    .splitter {
      right: -2px;
    }
    .splitter-button-open {
      display: none;
    }
    .splitter-button-close {
      display: inline-block;
    }
  }
}

.sidebar {
  .instance-properties {

    .hostname {
      display: block;
      font-size: 16px;
      line-height: 17px;
      font-weight: 200;
      color: @pw;
      cursor: pointer;

      .hostname-hostname {
        display: block;
        float: left;
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .hostname-colon,
      .hostname-port {
        display: block;
        float: left;
      }
    }
    .version {
      clear: both;
      display: block;
      font-size: 13px;
      line-height: 14px;
      font-weight: normal;
      color: @gray5;
    }
    .db-stats {
      color: @gray5;
      margin-top: 8px;
      font-style: 13px;
      line-height: 13px;

      .num-databases,
      .num-collections {
        display: inline-block;
        border-right: 1px solid @slate2;
        padding-right: 10px;
        margin-right: 10px;
      }
      strong {
        color: @gray7;
        font-weight: bold;
      }
      button.refresh-collections {
        background: none;
        border: none;
        color: @gray7;
        font-size: 13px;
        border-radius: 2px;
        padding: 4px 5px;
        transition: all 150ms ease;

        &:hover {
          background: @slate0;
          color: @pw;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
