doctype html
html(lang='en')
  head
    title MongoDB
    meta(http-equiv="Content-Security-Policy", content="default-src *; script-src 'self' https://maps.googleapis.com https://maps.gstatic.com http://localhost:35729 https://mts0.googleapis.com https://mts1.googleapis.com 'unsafe-eval'; style-src 'self' https://fonts.googleapis.com 'unsafe-inline';")

    meta(name='viewport', content='initial-scale=1')
    link(rel='stylesheet', href='index.css', charset='UTF-8')
  body
    #application
      div(data-hook='statusbar')
      div(data-hook='layout-container')

    if NODE_ENV === 'development'
      //- Include the livereload client so pages reload automatically when changed.
      script(src='http://localhost:35729/livereload.js', charset='UTF-8')

      script(src='src/electron/development-debug-header.js', charset='UTF-8')

    script(src='index.js', charset='UTF-8')
