.databases-collections {
  background: #21313c;
  height: 100vh;
  padding: 2.4rem;
  justify-content: center;
  align-items: center;
  display: flex;

  button {
    margin: 20px;
  }
}

.databases-collections-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.databases-collections-topbar {
  background: #21313c;
  width: 100%;
  padding: 10px;
}

.databases-collections-content {
  flex-grow: 1;
}
