.page.help  {
  .container-fluid;

  .content.with-sidebar {
    padding: 0 15px 15px 15px;
  }
  .related {
    margin-top: 20px;
  }
  .help-entry {
    h4 {
      margin-bottom: 5px;
    }
    img {
      max-width: 100%;
    }
    .tags {
      padding-bottom: 10px;
    }
  }
}
