.page {
  max-height: 100%;
  min-height: 100%;
  overflow-y: auto;
  width: 100%;
}

.badge {
  border: 1px solid @gray-lighter;
}

.content {
  max-height: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.panel-title {
  i.fa {
    margin-right: 6px;
  }
}
.vgroup {
  flex-direction: column;
  display: flex;
}

.hgroup {
  display: flex;
  flex-direction: row;
}

.report-zero-state {
  margin: 185px 0 0 20px;

  img {
    margin-bottom: 7px;
  }
  span {
    font-size: 24px;
    color: @gray4;
    font-weight: 200;
    margin-left: 15px;
  }
}
.no-collections-zero-state {
  text-align: center;
  margin-top: 200px;
  padding: 50px 75px;
  font-size: 18px;
  color: @gray4;
  font-weight: 200;

  a {
    cursor: pointer;
  }
}

.collection-view {
  header {
    padding: 12px 0 0;
    position: relative;
    z-index: 1;
    background: @pw;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  h1 {
    margin-top: 12px;
    font-size: 24px;
  }
  .column-container {
    display: flex;
    overflow: hidden;
    height: 110vh; // this isn't working properly at 100, is it a flexbox bug?
    margin-top: -161px; // total computed header + .refine-view-container height
    padding-top: 161px; // total computed header + .refine-view-container height
    position: relative;
    width: 100%;
    &.with-refinebar {
      margin-top: -161px;
      padding-top: 161px;
    }
    &.with-refinebar-and-message {
      margin-top: -192px;
      padding-top: 192px;
    }
  }

  .column {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    position: relative;
    transition: width 250ms ease;
  }

  .main {
    padding: 0 26px;
    flex: 1;
    overflow-x: hidden;
    background-color: @gray8;   
  }

  .side {
    width: 0;
    font-family: @font-family-monospace;
    font-size: 11px;
    border-left: 2px solid @gray7;
    right: -12px;
    top: 30px;
  }

  .splitter {
    width: 20px;
    height: 20px;
    position: relative;
    right: 10px;
    transition: right 250ms ease;
  }
  .splitter-button {
    outline: none;
    color: @gray1;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
    &:active {
      outline: none;
      color: @green2;
    }
  }
  .splitter-button-close {
    display: none;
  }
  .column-container.sidebar-open {
    .side {
      width: 33%;
      right: 0;
    }
    .splitter {
      right: -2px;
    }
    .splitter-button-open {
      display: none;
    }
    .splitter-button-close {
      display: inline-block;
    }
  }
}

.sidebar {
  .instance-properties {

    .hostname {
      display: block;
      font-size: 16px;
      line-height: 17px;
      font-weight: 200;
      color: @pw;

      .hostname-hostname {
        display: block;
        float: left;
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .hostname-colon,
      .hostname-port {
        display: block;
        float: left;
      }
    }
    .version {
      clear: both;
      display: block;
      font-size: 13px;
      line-height: 14px;
      font-weight: normal;
      color: @gray5;
    }
    .db-stats {
      color: @gray5;
      margin-top: 8px;
      font-style: 13px;
      line-height: 13px;

      .num-databases,
      .num-collections {
        display: inline-block;
        border-right: 1px solid @slate2;
        padding-right: 10px;
        margin-right: 10px;
      }
      strong {
        color: @gray7;
        font-weight: bold;
      }
      button.refresh-collections {
        background: none;
        border: none;
        color: @gray7;
        font-size: 13px;
        border-radius: 2px;
        padding: 4px 5px;
        transition: all 150ms ease;

        &:hover {
          background: @slate0;
          color: @pw;
        }
      }
    }
  }
}

ul.nav-tabs {
  border-bottom: 1px solid @gray7;
  li {
    a {
      font-size: 12px;
      font-weight: normal;
      border: 1px solid @pw;
      border-bottom: none;
      color: @chart1;
      cursor: pointer;
      text-transform: uppercase;
      margin-right: 3px;
      padding: 6px 32px 8px;
      position: relative;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      top: 1px;
      transition: all 250ms ease;
      &:hover {
        background-color: @gray8;
        color: @chart1;
        border-color: @gray8;
      }
    }
    &:first-child {
      margin-left: 15px;
    }
    &.active a,
    &.active a:hover {
      color: @gray0;
      padding-bottom: 9px;
      border: 1px solid @gray7;
      border-bottom: none;
    }
  }
}
