.schema-container
  .hidden(data-hook='empty')
    ul.message-background.with-sidebar.centered: li
      p No documents found.
  div(data-hook='sampling-message-subview')
  .column-container.with-refinebar-and-message(data-hook='column-container')
    .column.main
      div(data-hook='fields-subview')
