@sidebar-bg: @slate0;
@sidebar-width: 220px;

.sidebar {
  border-radius: 0;
  position: fixed;
  z-index: 10;
  -webkit-transform: translateZ(0);
  margin-bottom: 0;

  .scout-logo {
    background: @slate1 url("images/logo-scout-on-dark.png") center center no-repeat;
    background-size: 140px 28px;
    width: @sidebar-width;
    height: 72px;
  }

  .list-filter {
    padding: 12px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);

    i.search {
      .octicon;
      position: absolute;
      margin-top: 9px;
      margin-left: 10px;
      color: @gray5;
    }
    input {
      padding: 5px 5px 5px 30px;
      height: auto;
      background: @slate0;
      color: @pw;
      width: 100%;
      border: 1px solid lighten(@slate0, 5%);
    }
    input[type=search] {
      border-radius: 18px;
    }
  }

  .panel-title {
    color: @gray5;
  }
  .list-group {
    line-height: 24px;
    position: absolute;
    top: 128px;
    bottom: 0px;
    overflow-y: auto;
    width: 100%;
    z-index: -1;

    .list-group-item {
      cursor: pointer;
      border-top-width: 0;
      border-bottom-width: 0;
      padding: 0;
      background: none;
      color: @gray5;

      &:hover {
        background: lighten(@slate0, 5%);
        a {
          color: @pw;
          border-left: 4px solid lighten(@slate0, 5%);
          text-decoration: none;
        }
      }

      a {
        display: block;
        color: @gray5;
        padding: 0 6px;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-left: 4px solid transparent;
      }

      i {
        color: lighten(@text-color, 40%);
        line-height: 24px;
        margin-right: 5px;
      }
      &.active {
        background: none;

        a {
          color: @green3;
          border-left: 4px solid @green3;
        }
        i {
          color: @green3;
        }
        .list-group-item-heading {
          color: @green2;
          font-weight: bold;

        }
      }

      .close-icon {
        position: absolute;
        right: 0px;

        &:hover i {
          color: @pw;
        }
      }
    }
  }
}

.sidebar {
  top: 0px;
  left: 0;
  bottom: 0;
  width: 220px;
  background: @sidebar-bg;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}
