div.collection-stats-holder
  ul.collection-stats
    li.collection-stats-item
      .collection-stats-primary-label Documents
      .collection-stats-primary-value(data-hook='document_count')
    li.collection-stats-item
      .collection-stats-label total size
      .collection-stats-value(data-hook='document_size')
    li.collection-stats-item
      .collection-stats-label avg. size
      .collection-stats-value(data-hook='document_size_average')
  ul.collection-stats
    li.collection-stats-item
      .collection-stats-primary-label Indexes
      .collection-stats-primary-value(data-hook='index_count')
    li.collection-stats-item
      .collection-stats-label total size
      .collection-stats-value(data-hook='index_size')
    li.collection-stats-item
      .collection-stats-label avg. size
      .collection-stats-value(data-hook='index_size_average')
