div.row.hidden
  .col-md-6
    dl.dl-horizontal
      dt # documents
      dd(data-hook='document_count')
      dt total document size
      dd(data-hook='document_size')
      dt average document size
      dd(data-hook='document_size_average')
  .col-md-6
    dl.dl-horizontal
      dt # indexes
      dd(data-hook='index_count')
      dt total index size
      dd(data-hook='index_size')
      dt average index size
      dd(data-hook='index_size_average')
