// minicharts
@mc-bar-bg: #F2F4F5;
@mc-bar-fg: #38A1DF;
@mc-bar-hl: #BEDFF0;

.minichart {
  font: 10px sans-serif;

  text {
    fill: #000;
  }

  .glass {
    opacity: 0;
  }

  .bar {
    shape-rendering: crispEdges;

    rect.bg {
      fill: @mc-bar-bg;
    }

    rect.fg {
      fill: @mc-bar-fg;
    }

    rect.hl {
      fill: @mc-bar-hl;
    }
  }

  .line {
    stroke: @mc-bar-fg;
    shape-rendering: crispEdges;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

// -- d3-tip styling
.d3-tip {
  line-height: 1;
  padding: 8px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 14px;
  width: 100%;
  line-height: 1;
  color: #000;
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -4px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
