li.jsarrayitem
  if (model.className === 'JSPrimitiveValue')
    span
      span.caret-placeholder
      span(data-hook='item-subview')
  else
    span.clickable(id='value-#{cid}')
      span.caret-placeholder
        .caret
      span.value.type= (model.className === 'JSArray') ? 'Array[' + model.values.length + ']' : 'Object'
    .expandable-container
      div(data-hook='item-subview')
