.collection-stats {
  text-align: right;
  padding-top: 9px;
  padding-right: 0;
  justify-content: flex-end;
  display: flex;

  &-list {
    padding-left: 15px;
    padding-right: 3px;
    border-right: 1px solid @gray7;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  &-list:last-child {
    border-right: none;
  }

  &-list-item {
    margin-right: 12px;
  }
}
