@media all and (max-width: 1000px) {
  .collection-stats {
    display: none;
  }
}

.collection-stats {
  display: inline-block;
  text-align: right;
  min-width: 520px;
  padding-top: 7px;
  height: 36px;

  &-list {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 0 20px 0 0;
    margin: 0 0 0 24px;

    &:last-child {
      padding: 0;
      margin: 0;

      &::after {
        display: none;
      }
    }

    &-item {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
