.collection-stats-list-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: @gray4;

  &-primary-label {
    display: inline-block;
    font-size: 10px;
    color: @gray1;
    margin-right: 5px;
  }

  &-primary-value {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: @gray1;
  }

  &-label {
    font-size: 10px;
    margin-right: 5px;
  }

  &-value {
    font-size: 14px;
    font-weight: normal;
  }
}
