@media all and (max-width: 1000px) {
  .collection-stats {
    display: none;
  }
}

.collection-stats {
  position: absolute;
  right: 20px;
  text-align: right;
  min-width: 520px;

  &-list {
    display: inline-block;
    position: relative;
    font-weight: 200;
    list-style: none;
    padding: 0 20px 0 0;
    margin: 0 20px 0 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 2px;
      width: 1px;
      height: 24px;
      background: @gray7;
    }

    &:last-child {
      padding: 0;
      margin: 11px 0 0 0;

      &::after {
        display: none;
      }
    }

    &-item {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
